input[type=text] {
    height: 50px;
    background-color: gray;
    margin-top: 25px !important;
    min-width: 600px;
    color: whitesmoke;
    margin-left: 200px;
}

#meme {
    margin-left: 50px !important;
    margin-right: 50px !important;
}

/* input[type="radio"] ~ label:before {
	font-family: FontAwesome;
	content: '\f096';
	font-size: 22px;
} */

input[type="radio"] {
    background-color: black;
}

input[type="radio"]:checked {
    background-color: black;
}

/* input[type="radio"]:checked ~ label:before {
	content: '\f046';
} */

button {
    margin-top: 25px !important;
    height: 50px;
    transition: background-color 1s !important;
}

::placeholder {
    color: whitesmoke;
}

#container {
    background-color: rgb(49, 49, 49) !important;
    height: 110px;
    margin: auto;
}

.card {
    min-height: 600px !important;
}

.frb-group {
	margin: 15px 0;
}

.frb ~ .frb {
	margin-top: 15px;
}

.frb input[type="radio"]:empty {
	display: none;
}

.frb input[type="radio"] ~ label:before {
	font-family: FontAwesome;
	content: '\f096';
	position: absolute;
	top: 50%;
	margin-top: -11px;
	left: 15px;
	font-size: 22px;
}

.frb input[type="radio"]:checked ~ label:before {
	content: '\f046';
}

#search {
    margin-left: -50px;
}

#searchUser {
    margin-left: -250px;
}

@media screen and (max-width: 1000px) {
    #meme {
        margin-left: -50px !important;
        min-width: 400px !important;
    }

    #user {
        min-width: 400px !important;
    }
}

@media screen and (max-width: 800px) {
    #meme {
        min-width: 300px !important;
    }

    #user {
        min-width: 300px !important;
    }
}

@media screen and (max-width: 700px) {
    input[type=text] {
        min-width: 320px;
        margin-left: 0px;
    }

    #meme {
        margin-left: -50px !important;
        min-width: 320px;
        margin-right: 0px !important;
    }

    #search {
        margin-left: 0px !important;
    }

    #searchUser {
        margin-left: -75px !important;
    }

}

@media screen and (max-width: 600px) {
    #meme {
        margin-left: -50px !important;
        min-width: 250px;
        margin-right: 0px !important;
    }

    #user {
        margin-left: 20px;
        min-width: 250px;
    }

    #search {
        margin-left: 0px !important;
    }

    #searchUser {
        margin-left: -75px !important;
    }

}