<app-top-buttons></app-top-buttons>

<tabset class="member-tabset text-center" class="col-12">
    <tab heading='Szukaj memów'>
        <div id="container" class="container text-center mt-5">
            <div id="search">
                <div class="form-group">
                    <form class="text-center" [formGroup]='memeSearchForm'>
                        <div class="row text-center">
                            <div class="col-8 col-lg-9 text-right">
                                <input id="meme" type="text" placeholder="Wpisz tytuł wyszukiwanego mema" [formControl]='memeSearchForm.controls["searchString"]'>
                            </div>
                            <div class="col-4 col-lg-3 text-left">
                                <button 
                                class="dropdown-item"
                                class="btn btn-primary btn-lg"
                                id="search" 
                                style="align-items: center; font-size: 17px;"
                                [disabled]="!this.memeSearchForm.value.searchString"
                                (click)="searchForMeme(this.memeSearchForm.value.searchString)"
                                >
                                <i class="fa fa-search"></i>
                                Szukaj
                                </button>
                            </div>
                        </div>
                        <div class="mt-2">
                            <input type="radio" id="all" name="type" value="All" class="mr-1" formControlName='type' checked>
                            <label for="all" class="mr-2">Wszystkie</label>
                            <input type="radio" id="images" name="type" value="Images" formControlName='type' class="mr-1">
                            <label for="images" class="mr-2">Obrazki</label>
                            <input type="radio" id="gifs" name="type" value="Gifs" formControlName='type' class="mr-1">
                            <label for="gifs" class="mr-2">Gify</label>
                            <input type="radio" id="video" name="type" value="Video" formControlName='type' class="mr-1">
                            <label for="video" class="mr-2">Video</label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <div *ngIf="!searchActive" class="text-center mt-5" style="font-size: 25px">
            Wyszukaj memy po tytule
        </div>
        
        <div *ngIf="memes?.length === 0" class="text-center mt-5" style="font-size: 25px">
            Nie znaleziono żadnych memów zawierających w tytule wpisaną frazę
        </div>
        
        <div *ngIf="memes?.length > 0" class="mt-5">
            <h4>Liczba Znalezionych memów z podaną frazą - {{memes?.length}} </h4>
        </div>
        <div *ngFor="let meme of memes">
            <app-meme-card [meme]="meme"></app-meme-card>
        </div>
        
        <div class="d-flex justify-content-center" *ngIf="memes?.length > 0 && pagination">
            <pagination
                [boundaryLinks]="true" 
                [totalItems]="pagination.totalItems"
                [itemsPerPage]="pagination.itemsPerPage"
                [(ngModel)]="pagination.currentPage"
                (pageChanged)="pageChanged($event)"
                previousText="&lsaquo;" 
                nextText="&rsaquo;" 
                firstText="&laquo;" 
                lastText="&raquo;">
            </pagination>
        </div>
        
        <div class="col-md-3 mt-2 justify-content-right" style="text-align: right;" *ngIf="memes?.length > 0 && pagination">
            <span class="mr-2">Page Size</span>
        
            <select (change)="updatePageSize($any($event.target).value)">
                <option selected="true">8</option>
                <option>16</option>
                <option>24</option>
            </select>
        </div>
    </tab>
    <tab heading='Szukaj użytkowników' class="text-center">
        <div id="container" class="container text-center mt-5">
            <div id="searchUser">
                <div class="form-group">
                    <form class="text-center" [formGroup]='memberSearchForm'>
                        <div class="row text-center">
                            <div class="col-8 col-lg-9 text-right">
                                <input id="user" type="text" placeholder="Wpisz nazwę wyszukiwanego użytkownika" [formControl]='memberSearchForm.controls["searchString"]'>
                            </div>
                            <div class="col-4 col-lg-3 text-left">
                                <button 
                                class="dropdown-item"
                                class="btn btn-primary btn-lg" 
                                style="align-items: center; font-size: 17px;"
                                [disabled]="!this.memberSearchForm.value.searchString"
                                (click)="searchForMember(this.memberSearchForm.value.searchString)"
                                >
                                <i class="fa fa-search"></i>
                                Szukaj
                                </button>
                            </div>
                          </div>
                    </form>
                </div>
            </div>
        </div>
        
        <div *ngIf="!searchActive" class="text-center mt-5" style="font-size: 25px">
            Wyszukaj użytkownika po nazwie
        </div>
        
        <div *ngIf="members?.length === 0" class="text-center mt-5" style="font-size: 25px">
            Nie znaleziono żadnych użytkowników zawierających w tytule wpisaną frazę
        </div>
        
        <div *ngIf="members?.length > 0" class="mt-5">
            <h4>Liczba Znalezionych użytkowników z podaną frazą - {{members?.length}} </h4>
        </div>

        <div>
            <div *ngFor="let member of members">
                <app-member-card [member]="member"></app-member-card>
            </div>
        </div>
        
        <div class="d-flex justify-content-center" *ngIf="members?.length > pageSize && pagination">
            <pagination
                [boundaryLinks]="true" 
                [totalItems]="pagination.totalItems"
                [itemsPerPage]="pagination.itemsPerPage"
                [(ngModel)]="pagination.currentPage"
                (pageChanged)="pageChanged($event)"
                previousText="&lsaquo;" 
                nextText="&rsaquo;" 
                firstText="&laquo;" 
                lastText="&raquo;">
            </pagination>
        </div>
        
        <div class="col-md-3 mt-2 justify-content-right" style="text-align: right;" *ngIf="members?.length > pageSize && pagination">
            <span class="mr-2">Page Size</span>
        
            <select (change)="updatePageSize($any($event.target).value)">
                <option selected="true">8</option>
                <option>16</option>
                <option>24</option>
            </select>
        </div>
    </tab>
</tabset>

