input[type=text] {
    height: 50px;
    background-color: gray;
    margin-top: 25px !important;
    color: whitesmoke;
    width: 80% !important;
}

/* input[type="radio"] ~ label:before {
	font-family: FontAwesome;
	content: '\f096';
	font-size: 22px;
} */

input[type="radio"] {
    background-color: black;
}

input[type="radio"]:checked {
    background-color: black;
}

/* input[type="radio"]:checked ~ label:before {
	content: '\f046';
} */

button {
    margin-top: 25px !important;
    height: 50px;
    transition: background-color 1s !important;
    margin-left: -20px !important;
}

::placeholder {
    color: whitesmoke;
}

#container {
    background-color: rgb(49, 49, 49) !important;
    height: 110px;
    margin: auto;
}

.card {
    min-height: 600px !important;
}

.frb-group {
	margin: 15px 0;
}

.frb ~ .frb {
	margin-top: 15px;
}

.frb input[type="radio"]:empty {
	display: none;
}

.frb input[type="radio"] ~ label:before {
	font-family: FontAwesome;
	content: '\f096';
	position: absolute;
	top: 50%;
	margin-top: -11px;
	left: 15px;
	font-size: 22px;
}

.frb input[type="radio"]:checked ~ label:before {
	content: '\f046';
}

select {
    background-color: gray;
    color: whitesmoke;
}

@media screen and (max-width: 1000px) {
    button {
        font-size: 14px !important;
    }

    input[type=text] {
        width: 100% !important;
    }
}
