input[type=text] {
    height: 50px;
    background-color: gray;
    margin-top: 30px;
    margin-bottom: 5px;
}

::placeholder {
    color: whitesmoke;
}

input {
    color: whitesmoke !important;
}

.form-control {
    color: whitesmoke;
}

@media screen and (max-width: 1000px) {
    input[type=text] {
        margin-left: 5px !important;
    }
}