<!-- Default form contact -->
<form class="text-center border border-light p-5 mt-3 col-8" [formGroup]="contactForm" (ngSubmit)="onSubmit()" style="margin-left: auto; margin-right: auto;">

    <div class="col-4 form-group" style="display: inline-block;">
      <p class="h4 mb-4">Contact us</p>
  
      <!-- Name -->
      <input type="text" formControlName="contactFormName" id="defaultContactFormName" mdbInput
        class="form-control mb-4" style="width: 300px;" placeholder="Name">
    
      <!-- Email -->
      <input type="email" formControlName="contactFormEmail" id="defaultContactFormEmail" mdbInput
        class="form-control mb-4" style="width: 300px;" placeholder="E-mail">
    </div>
  
    <!-- Subject -->
    <div class="col-4 form-group" style="display: inline-block; text-align: center;">
      <label>Subject</label><br>
      <select formControlName="contactFormSubjects" class="browser-default custom-select mb-4" style="width: 400px;">
        <option value="" disabled>Choose option</option>
        <option value="1" selected>Feedback</option>
        <option value="2">Report a bug</option>
        <option value="3">Feature request</option>
        <option value="4">Feature request</option>
      </select>
    
      <!-- Message -->
      <div class="form-group">
        <textarea formControlName="contactFormMessage" class="form-control rounded-0" mdbInput id="exampleFormControlTextarea2"
          rows="3" placeholder="Message" style="width: 400px;"></textarea>
      </div>
    </div>

    <!-- Copy -->
    <!-- <mdb-checkbox [default]="true" class="mb-4">Send me a copy of this message</mdb-checkbox> -->
  
    <!-- Send button -->
    <button mdbBtn color="info" outline="true" block="true" class="z-depth-0 my-4 waves-effect"
      mdbWavesEffect type="submit" [disabled]="disabledSubmitButton">Send</button>
  
  </form>
  <!-- Default form contact -->