<!-- Default form contact -->
<form class="text-center border border-light p-5 mt-3 col-sm-12 col-lg-8 form-group" 
  [formGroup]="contactForm" 
  (ngSubmit)="onSubmit()" 
  *ngIf="contactFormMode"
  style="margin-left: auto; margin-right: auto;"
  >

  <div class="row">
    <div class="col-md-12 col-lg-6" style="display: inline-block; margin-left: auto; margin-right: auto;">
      <p class="h4 mb-4 contact">Kontakt</p>
  
      <!-- Name -->
      <span *ngIf="(accountService.currentUser$ | async) !== null">
        <input type="text" formControlName="senderName" id="defaultContactFormName"
        class="form-control mb-4 contact" style="width: 300px; margin-left: auto; margin-right: auto;" placeholder="{{user.username}}">
      </span>
      <span *ngIf="(accountService.currentUser$ | async) === null">
        <input type="text" formControlName="senderName" id="defaultContactFormName"
        class="form-control mb-4 contact" style="width: 300px; margin-left: auto; margin-right: auto;" placeholder="Name">
      </span>
      <div *ngIf="contactForm.controls['senderName'].errors?.required && contactForm.controls['senderName'].touched" class="text-danger mb-2">
        Nazwa jest wymagana
      </div>
    
      <!-- Email -->
      <span *ngIf="(accountService.currentUser$ | async) !== null">
        <input type="email" [formControl]='contactForm.controls["senderEmail"]' id="defaultContactFormEmail"
        class="form-control mb-4 contact" style="width: 300px; margin-left: auto; margin-right: auto;" placeholder="{{user.email}}">
      </span>
      <span *ngIf="(accountService.currentUser$ | async) === null">
      <input type="email" [formControl]='contactForm.controls["senderEmail"]' id="defaultContactFormEmail"
        class="form-control mb-4 contact" style="width: 300px; margin-left: auto; margin-right: auto;" placeholder="E-mail">
      </span>
      <div *ngIf="contactForm.controls['senderEmail'].errors?.pattern && contactForm.controls['senderEmail'].touched" class="text-danger mb-2">
        Podaj prawidłowy adres email
      </div>
      <div *ngIf="contactForm.controls['senderEmail'].errors?.required && contactForm.controls['senderEmail'].touched" class="text-danger mb-2">
        Email jest wymagany
      </div>
      <br>
    </div>
  
    <!-- Subject -->
    <div class="col-md-12 col-lg-5 mt-6" style="display: inline-block; margin-left: auto; margin-right: auto;">
      <label class="h4 mb-4 contact">Temat zgłoszenia</label><br>
      <select [formControl]='contactForm.controls["subject" ]'
        class="browser-default custom-select mb-4" 
        style="width: 300px; margin-left: auto; margin-right: auto;"
        >
        <option value="" disabled>Wybierz opcję</option>
        <option value="1" selected>Feedback</option>
        <option value="2">Zgłoś błąd</option>
        <option value="3">Propozycja usprawnień</option>
        <option value="4">Zgłoś użytkownika</option>
        <option value="5">Inny problem</option>
      </select>
    
      <!-- Message -->
      <div>
        <textarea [formControl]='contactForm.controls["message"]' class="form-control rounded-0" mdbInput id="exampleFormControlTextarea2"
          rows="3" placeholder="Message" style="width: 300px; margin-left: auto; margin-right: auto;"></textarea>
      </div>
      <div *ngIf="contactForm.controls['message'].errors?.required && contactForm.controls['message'].touched" class="text-danger">
        Treść wiadomości jest wymagana
      </div>
    </div>
  </div>

    <!-- Copy -->
    <!-- <mdb-checkbox [default]="true" class="mb-4">Send me a copy of this message</mdb-checkbox> -->
  
    <!-- Send button -->
    <button class="btn btn-warning mr-5" (click)="contactFormMode=false" >Anuluj</button>
    <button mdbBtn color="info" outline="true" block="true" class="z-depth-0 my-4 waves-effect btn btn-success"
      mdbWavesEffect type="submit" [disabled]="disabledSubmitButton">Wyślij</button>
  
  </form>
  <br>
  <!-- Default form contact -->