  .pagination > .active > a {
    background-color: red !important;
  }

  .pagination > li > a {
    background-color: #892626 !important;
  }

  .pagination > li > a:hover {
    background-color: #b72929 !important;
  }

  .pagination > .active > a:hover {
    background-color: rgb(252, 84, 84) !important;
    color: rgb(0, 0, 0);
  }

    /* width */
    ::-webkit-scrollbar {
      width: 10px;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #888;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

  @media screen and (max-width: 800px) {
    ::-webkit-scrollbar {
      width: 5px;
    }
  }

  @media screen and (min-width: 2400px) {
    .container {
        min-width: 1800px !important;
        font-size: 32px !important;
    }

}