input[type=text] {
    height: 50px;
    background-color: gray;
    margin-top: 30px;
    color: whitesmoke;
}

#memeTitle {
    min-width: 600px !important;
}

button {
    margin-top: 30px;
    margin-left: 20px;
    height: 50px;
}

label {
    color: whitesmoke;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.custom-file-upload:hover {
    margin-top: auto;
    margin-bottom: auto;
    border: 1px solid red;
    color: red;
}

textarea {
    height: 200px;
    background-color: gray;
    vertical-align: top !important;
    display: flex;
    float: left;
    margin-left: 20%;
    margin-right: 20px;
    padding: 10px;
}

::placeholder {
    color: whitesmoke;
}

.my-drop-zone {
    float: left;
}

#preview {
    max-width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}