input[type=text] {
    height: 50px;
    background-color: gray;
    margin-top: 30px;
    color: whitesmoke;
}

#memeTitle {
    min-width: 40% !important;
}

button {
    margin-top: 30px;
    margin-left: 20px;
    height: 50px;
}

label {
    color: whitesmoke;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.custom-file-upload:hover {
    margin-top: auto;
    margin-bottom: auto;
    border: 1px solid red;
    color: red;
}

textarea {
    height: 200px;
    background-color: gray;
    vertical-align: top !important;
    display: inline-block;
    margin-right: 20px;
    padding: 10px;
    color: whitesmoke !important;
}

::placeholder {
    color: whitesmoke;
}

.my-drop-zone {
    float: left;
}

#preview {
    max-width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}

input[type=text] {
    height: 50px;
    background-color: gray;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    min-width: 600px;
}

::placeholder {
    color: whitesmoke;
}

input {
    color: whitesmoke !important;
}

.form-control {
    color: whitesmoke;
}

select {
    background-color: gray;
    color: whitesmoke;
}