<div class="container text-center">
    <div class="form-group mt-3 text-center">

        <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h4>{{memeUploadForm.value.title}}</h4>
            </div>
            <div class="modal-body text-center">
                <div>
                    {{memeUploadForm.value.description}}
                </div>
                <img id="preview" [src]="previewImg" *ngIf="previewImg && format==='image'"/>
                <video id="preview" [src]="previewImg" *ngIf="previewImg && format==='video'" controls></video>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="c('Save click')">OK</button>
                <button type="button" class="btn btn-warning" aria-label="Close" (click)="d('Cross click')">Wyjdź</button>
            </div>
        </ng-template>

        <ng-template #linkPreview let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h4>Youtube</h4>
            </div>
            <div class="modal-body text-center">
                <div>
                    Youtube
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="c('Save click')">OK</button>
                <button type="button" class="btn btn-warning" aria-label="Close" (click)="d('Cross click')">Wyjdź</button>
            </div>
        </ng-template>
        <!-- *ngIf="editForm.dirty" -->

        <form [formGroup]='memeUploadForm' class="text-center">
            <div class="row ml-3 text-center">
                <div class="column col-2"></div>
                <div class="column">
                    <app-meme-title-input [formControl]='memeUploadForm.controls["title"]' id="memeTitle" style="min-width: 40% !important;"
                        [label]='"Wpisz tytuł"' name="title" autocomplete="off"></app-meme-title-input>
                </div>
                <div class="column">
                    <button 
                        class="dropdown-item"
                        [disabled]="!memeUploadForm?.valid"
                        (click)="memeToggle()"
                        *ngIf="(accountService?.currentUser$ | async) !== null"
                        class="btn btn-primary btn-lg" 
                        style="align-items: center; font-size: 17px;"
                    >
                    <i class="fas fa-file-import"></i>
                    Dodaj mema
                </button>
                </div>
              </div>
        </form>
    </div>

    <div class="container text-center" *ngIf="memeUploadMode" style="max-height: 1200px !important;">

        <button (click)="normalMemeToggle()" [disabled]="youtubeVideo" class="btn btn-danger mb-2" style="width: 80%; margin-top: 10px !important;">
            Dodaj klasycznego mema
        </button>

        <div *ngIf="normalMeme" class="mb-2">
            <div class="column col-10" style="margin-left: auto; margin-right: auto;">
                <textarea class="col-8" placeholder="Wpisz opis (opcjonalnie)" name="description" [formControl]='memeUploadForm.controls["description"]' style="display: inline-block;"></textarea>
                <div class="col-3" style="max-width: 200px; display: inline-block;">
                    <label class="custom-file-upload" style="min-width: 150px !important;">
                        <input type="file" ng2FileSelect [uploader]="uploader" class="text-center mt-3 mb-3" title="Wybierz"/>
                        Dodaj plik
                    </label>
                    <button type="button" class="btn btn-info mb-2 text-center" *ngIf="previewImg && uploader?.queue?.length" (click)="open(content)" style="min-width: 150px !important; margin-left: 0 !important;">Podgląd</button>
                </div>
            </div>
    
            <div class="col-9 text-center" style="margin-bottom: 20px; margin-left: auto; margin-right: auto;" *ngIf="uploader?.queue?.length">
    
                <div class="mt-2">
                    <button type="button" class="btn btn-success btn-s mr-3" *ngIf="this.memeUploadForm.valid"
                            (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                        <span class="fa fa-upload"></span> Wrzuć
                    </button>
                    <button type="button" class="btn btn-danger btn-s"
                            (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                        <span class="fa fa-trash"></span> Usuń
                    </button>
                </div>
            </div>
        </div>

        <button (click)="youtubeVideoToggle()" [disabled]="normalMeme" [hidden]="uploader?.queue?.length !== 0" class="btn btn-danger mb-2" style="width: 80%; margin-top: 10px !important;">
            Dodaj filmik z youtube
        </button>

        <div *ngIf="youtubeVideo" class="column">
            <form [formGroup]='youtubeForm' (ngSubmit)="youtubeForm.valid && addYoutubeLink()" class="text-center column">
                <div>
                    <input type="text" [formControl]='youtubeForm.controls["url"]' placeholder="Wstaw link z youtube" class="col-7">
                    <button class="btn btn-success ml-2 col-2" type="submit" style="margin-top: 0 !important;">Dodaj link</button>
                </div>
                <div *ngIf="youtubeForm.dirty && !youtubeForm.controls['url'].errors?.pattern && !youtubeForm.controls['url'].errors?.required && youtubeForm.controls['url'].touched">
                    <app-link-preview [link1]="youtubeForm.value.url"></app-link-preview>
                </div>
                <div *ngIf="youtubeForm.controls['url'].errors?.pattern" class="text-danger" style="margin-top: 0 !important;">
                    Link musi mieć odpowiedni format
                </div>
                <div *ngIf="youtubeForm.controls['url'].errors?.required && youtubeForm.controls['url'].touched" class="text-danger mb-3">
                    Link jest wymagany
                </div>
                <textarea class="col-9 ml-3" [formControl]='youtubeForm.controls["description"]' placeholder="Wpisz opis (opcjonalnie)" name="description" style="height: 100px !important;"></textarea>
                <div *ngIf="youtubeForm.controls['description'].errors?.maxlength" class="text-danger">
                    Opis zbyt długi
                </div>
            </form>
        </div>

        <div *ngIf="memeUploadForm.controls['description'].errors?.maxlength" class="text-danger">
            Opis zbyt długi
        </div>

        <div class="container form-group text-center mt-3">
            <button class="btn btn-warning mr-2" type="button" (click)="memeToggle()" style="margin-bottom: 30px;">Anuluj</button>
        </div>
    </div>

</div>

