input[type=text] {
    height: 50px;
    background-color: gray;
    margin-top: 30px;
    color: whitesmoke;
}

#memeTitle {
    min-width: 40% !important;
}

button {
    margin-top: 30px;
    height: 50px;
}

label {
    color: whitesmoke;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    margin-top: 40px;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 2px;
}

.custom-file-upload:hover {
    border: 1px solid red;
    color: red;
}

textarea {
    height: 200px;
    background-color: gray;
    vertical-align: top !important;
    display: inline-block;
    margin-right: 20px;
    padding: 10px;
    color: whitesmoke !important;
}

::placeholder {
    color: whitesmoke;
}

.my-drop-zone {
    float: left;
}

#preview {
    max-width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}

input[type=text] {
    height: 50px;
    background-color: gray;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    min-width: 600px;
}

::placeholder {
    color: whitesmoke;
}

input {
    color: whitesmoke !important;
}

.form-control {
    color: whitesmoke;
}

select {
    background-color: gray;
    color: whitesmoke;
}

@media screen and (max-width: 1000px) {
    #import {
        font-size: 12px !important;
    }
}

@media screen and (max-width: 800px) {

    #link {
        margin-left: 10px;
        min-width: 350px !important;
    }

    #youtubeButton {
        font-size: 12px;
    }

    #drag {
        display: none;
    }

    button {
        margin-left: -20px !important;
    }
}

@media screen and (max-width: 700px) {

    .custom-file-upload {
        margin-top: 10px !important;
    }

    textarea {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: -50px;
        min-width: 450px;
        height: 120px;
    }

    #link {
        margin-left: 10px;
        min-width: 350px !important;
    }

    #youtubeButton {
        font-size: 12px;
    }

    #drag {
        display: none;
    }

}