<div id="comment" class="mb-3" *ngIf="(accountService.currentUser$ | async) !== null">
    <div class="row" style="padding: 10px;">
        <div class="col-2">
            <div><img id="avatar" src="{{url || '././assets/LogoImage.png'}}" alt=""></div>
            <div><a routerLink='/uzytkownicy/{{comment.username}}' id="username" [ngStyle]="comment.username?.lenght > 10 ? { 'font-size': '10px' } : { 'font-size': '14px' }">{{comment.username}}</a></div>
        </div>
        <div id="timeago" class="col-2">
            {{comment.uploaded | timeago}}
        </div>
        <div class="col col-lg-6"></div>
        <div class="col-4 col-lg-2">
            <div class="text-right">
                <button id="like" class="mr-2" [disabled]><i class="fa fa-plus" [ngStyle]="!liked ? { 'color': 'white' } : { 'color': 'green' }"></i></button>
                {{comment.numberOfLikes}}
                <button id="like" class="ml-2" [disabled]><i class="fa fa-minus" [ngStyle]="!disliked ? { 'color': 'white' } : { 'color': 'red' }"></i></button>
            </div>
            <div class="text-left">
                <div *ngIf="comment.username === user.username && comment.content !== '[Komentarz został usunięty]'" (click)="editCommentToggle(comment.id) && reloadComments(comment)" style="display: inline-block">
                    <i id="edit" class="fa fa-pencil-square-o" aria-hidden="true"> Edytuj</i>
                </div>
                <div *ngIf="comment.content !== '[Komentarz został usunięty]' && comment.username === user.username || user.roles[0] === 'Admin' || user.roles[1] === 'Moderator'" (click)="removeComment(comment.id)">
                    <i id="delete" class="fa fa-trash" aria-hidden="true"> Usuń</i>
                </div>
                <a routerLink='/meme/{{comment.memeId}}/..'><i id="goTo" class="fa fa-share" aria-hidden="true"> Idź do</i></a>
            </div>
        </div>
    </div>
    <div class="text-left mt-3" id="content" style="padding: 10px; margin-left: 50px !important;">{{comment.content}}</div>
    <div class="text-center">
        <img src="{{comment.url}}" alt="">
    </div>
    <div class="text-left mt-2">
        <i class="fa fa-reply ml-3 mb-1" *ngIf="!replyQuote" (click)="addReply(comment.id)"> Odpowiedz</i>
        <i class="fa fa-quote-left ml-3 mb-1" *ngIf="!reply && comment.content !== '[Komentarz został usunięty]'" (click)="addQuotedReply(comment.id)"> Zacytuj</i>
    </div>
</div>

<div *ngIf="commentUpdate">
    <div class="text-center mb-3">
        <form #editForm="ngForm" (ngSubmit)="editComment()" class="text-center column">
            <textarea type="text" name="content" [(ngModel)]="comment.content" placeholder="{{comment.content}}" class="col-7"></textarea>
            <button class="btn btn-success ml-2 col-2" type="submit" [disabled]="!editForm?.dirty">Edytuj komentarz</button>
        </form>
    </div>
</div>

<div *ngIf="reply">
    <form [formGroup]='replyForm' (ngSubmit)="replyForm.valid && replyComment()" id="replyForm" class="text-center column mb-2">
        <div>
            <textarea type="text" [formControl]='replyForm.controls["content"]' placeholder="Wpisz treść komentarza" class="col-7 mr-1"></textarea>
            <label class="custom-file-upload" *ngIf="checkIfUserWorthy(mainMemes)">
                <input type="file" ng2FileSelect [uploader]="uploader" (change)="fileChangeEvent($event)" class="text-center" title="Wybierz"/>
                <i class="fa fa-paperclip"></i>
            </label>
            <button class="btn btn-success ml-2 col-2" type="submit" [disabled]="!replyForm.valid">Dodaj komentarz</button>
        </div>
        <div *ngIf="replyForm.controls['content'].errors?.maxlength" class="text-danger">
            Komentarz zbyt długi
        </div>
    </form>
</div>

<div *ngIf="replyQuote">
    <form [formGroup]='replyForm' (ngSubmit)="replyForm.valid && replyComment()" class="text-center column mb-3 ml-5">
        <div>
            <textarea type="text" [formControl]='replyForm.controls["content"]' placeholder="Wpisz treść komentarza" class="col-7"></textarea>
            <button class="btn btn-success ml-2 col-2" type="submit" [disabled]="!replyForm.valid">Dodaj komentarz</button>
        </div>
        <div *ngIf="replyForm.controls['content'].errors?.maxlength" class="text-danger">
            Komentarz zbyt długi
        </div>
    </form>
</div>