<div class="row mt-3">
    <div class="text-center form-group mt-5 col-md-6 col-12">
        <h2>Zmiana hasła</h2>
        <form [formGroup]='updatePasswordForm' (ngSubmit)="updatePasswordForm?.valid && onSubmit()" class="text-center column">
            <label for="currentPassword">Stare hasło</label>
            <div class="mb-3">
                <i class="fa fa-eye mr-3" (click)="showOldPassword()" *ngIf="!toggleOld"></i>
                <i class="fa fa-eye-slash mr-3" (click)="showOldPassword()" *ngIf="toggleOld"></i>
                <input type={{typeOld}} id="currentPassword" [formControl]='updatePasswordForm?.controls["currentPassword"]' placeholder="********"/>
            </div>
            <div *ngIf="updatePasswordForm?.controls['currentPassword'].errors?.required && updatePasswordForm?.controls['currentPassword']?.touched" class="text-danger mb-2">
                Stare hasło jest wymagane
            </div>
            <label for="newPassword">Nowe hasło</label>
            <div class="mb-3">
                    <i class="fa fa-eye mr-3" (click)="showNewPassword()" *ngIf="!toggleNew"></i>
                    <i class="fa fa-eye-slash mr-3"  (click)="showNewPassword()" *ngIf="toggleNew"></i>
                    <input type={{typeNew}} id="newPassword" [formControl]='updatePasswordForm?.controls["newPassword"]' placeholder="********"/>
            </div>
            <div class="mb-2">
                <div *ngIf="updatePasswordForm?.controls['newPassword']?.errors?.required && updatePasswordForm?.controls['newPassword']?.touched" class="text-danger mb-2">
                    Nowe hasło jest wymagane 
                </div>
                <div *ngIf="updatePasswordForm?.controls['currentPassword'] === updatePasswordForm?.controls['newPassword']" class="text-danger mb-2">
                    Nowe hasło nie może być takie samo jak stare
                </div>
                <div *ngIf="updatePasswordForm?.controls['newPassword']?.errors?.minLength && updatePasswordForm?.controls['newPassword']?.touched" class="text-danger mb-2">
                    Nowe hasło musi zawierać co najmniej 8 znaków
                </div>
                <div *ngIf="updatePasswordForm?.controls['newPassword']?.errors?.maxLength && updatePasswordForm?.controls['newPassword']?.touched" class="text-danger mb-2">
                    Nowe hasło musi zawierać co najwyżej 16 znaków
                </div>
                <div *ngIf="updatePasswordForm?.controls['newPassword']?.errors?.minLength && updatePasswordForm?.controls['newPassword']?.touched" class="text-danger mb-2">
                    Nowe hasło musi zawierać co najmniej 8 znaków
                </div>
                <div *ngIf="updatePasswordForm?.controls['newPassword']?.errors?.pattern && updatePasswordForm?.controls['newPassword']?.touched" class="text-danger mb-2">
                    Zachowaj odpowiednie formatowanie. Hasło musi zawierać co najmniej: <br>
                    * 8 znaków <br>
                    * 1 cyfrę <br>
                    * zarówno małe i duże litery <br>
                    * 1 znak specjalny <br>
                </div>
            </div>
            <label for="confirmPassword">Powtórz hasło</label>
            <div class="mb-3">
                <i class="fa fa-key mr-3"></i>
                <input type="password" id="confirmPassword" [formControl]='updatePasswordForm?.controls["confirmPassword"]' placeholder="********"/>
            </div>
            <div class="mb-2">
                <div *ngIf="updatePasswordForm?.controls['confirmPassword']?.errors?.required && updatePasswordForm?.controls['confirmPassword']?.touched" class="text-danger mb-2">
                    Powtórzenie hasła jest wymagane
                </div>
                <div *ngIf="updatePasswordForm?.controls['confirmPassword']?.value !== updatePasswordForm?.controls['newPassword']?.value && updatePasswordForm?.controls['confirmPassword']?.touched" class="text-danger mb-2">
                    Hasła muszą być takie same
                </div>
            </div>
                <button class="btn btn-success ml-2 col-3" id="change-password" type="submit" [disabled]="!updatePasswordForm?.valid" style="margin-bottom: 40px;"><i class="fa fa-key mr-2" aria-hidden="true"></i>Zmień hasło</button>
        </form>
    </div>
    <div class="col-md-6 col-12 mt-5" id="removeAccount">
        <h2 class="mb-5">Usuń konto</h2>
        <button class="btn btn-danger mt-5" (click)="openRemoveAccountModal(user)" style="margin-top: auto; margin-bottom: auto;"><i class="fa fa-user mr-2"></i>Usuń konto</button>
    </div>
</div>
