input {
    background-color: gray;
    color: whitesmoke !important;
    min-width: 400px;
    min-height: 50px;
    font-size: 20px;
}

input::placeholder {
    color: whitesmoke;
}

.fa-eye:hover, .fa-eye-slash:hover {
    cursor: pointer;
    color: red;
}


