<div class="container mt-5">
    <section class="sec-wrapper">
        <fieldset class="border p-4">
            <legend class="w-auto">Zmiana hasła</legend>
            <form id="resetPasswordForm" [formGroup]="updatePasswordForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-6 form-group" style="display: block;">
                        <label for="oldPassword">Old Password</label>
                        <input class="form-control" id="oldPassword" placeholder="********" value="" type="password" formControlName="oldPassword">
                        <div *ngIf="oldPassword.touched && oldPassword.errors" class="text-danger">
                            <span *ngIf="oldPassword.hasError('required')">Old Password is required.</span>
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="newPassword">New Password</label>
                        <input class="form-control" id="newPassword" placeholder="********" value="" type="password" formControlName="newPassword">
                        <div *ngIf="newPassword.touched && newPassword.errors" class="text-danger">
                            <span *ngIf="newPassword.hasError('required')">New Password is required.</span>
                            <span *ngIf="newPassword.hasError('maxLength')">Only 16 characters allowedd for password.</span>
                            <span *ngIf="newPassword.hasError('minLength')">At least 8 characters needed for password.</span>
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="confirmNewPassword">Confirm New Password</label>
                        <input class="form-control" id="confirmNewPassword" placeholder="********" value="" type="password" formControlName="confirmNewPassword">
                        <div *ngIf="confirmNewPassword && confirmNewPassword.errors" class="text-danger">
                            <span *ngIf="confirmNewPassword.hasError('required')">Confirm Password is required.</span>
                            <span *ngIf="confirmNewPassword.hasError('mustMatch')">Confirm Password must match.</span>
                        </div>
                    </div>
                    <div class="row text-right">
                        <div class="col">
                            <button type="submit" [disabled]="updatePasswordForm.invalid" class="btn btn-primary btn-md mt-3 d-none d-md-inline-block d-sm-none" id="btnMdUpdatePassword">
                                <span class="btn-text"><i class="fas fa-pen mr-2"></i>UPDATE</span>
                            </button>
                            <!--Only visible on small screen-->
                            <button type="submit" [disabled]="updatePasswordForm.invalid" class="btn btn-primary btn-md mt-3 btn-block d-block d-md-none" id="btnSmUpdatePassword">
                                <span class="btn-text"><i class="fas fa-pen mr-2"></i>UPDATE</span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </fieldset>
    </section>
</div>