input {
    background-color: gray;
    color: whitesmoke !important;
    min-width: 400px;
    min-height: 50px;
    font-size: 20px;
}

input::placeholder {
    color: whitesmoke;
}

.fa-eye:hover, .fa-eye-slash:hover {
    cursor: pointer;
    color: red;
}

@media screen and (max-width: 800px) {
    #change-password {
        font-size: 12px !important;
    }

    #removeAccount {
        border-top: 1px solid whitesmoke;
        border-width: 80% !important;
        padding-top: 50px !important;
        margin-top: -10px !important;
    }

    input {
        min-width: 320px;
    }

    .btn-danger {
        font-size: 12px !important;
    }
}



