<!-- <div class="text-center mt-3" style="margin-left: auto; margin-right: auto;">
    <div class="text-center">
        <form [formGroup]='updatePasswordForm' (ngSubmit)="updatePasswordForm?.valid" class="text-center column">
            <div class="col-md-6 form-group">
                <label for="oldPassword">Stare hasło</label>
                <input class="form-control" id="oldPassword" placeholder="********" value="" type="password" [formControl]='updatePasswordForm?.controls["oldPassword"]'>
                <div *ngIf='updatePasswordForm?.controls["oldPassword"]?.touched && updatePasswordForm?.controls["oldPassword"]?.errors' class="text-danger">
                    <span *ngIf='updatePasswordForm?.controls["oldPassword"]?.required'>Old Password is required.</span>
                </div>
            </div>
            <div class="col-md-6 form-group">
                <label for="newPassword">Nowe hasło</label>
                <input class="form-control" id="newPassword" placeholder="********" value="" type="password" [formControl]='updatePasswordForm?.controls["newPassword"]'>
                <div *ngIf='updatePasswordForm?.controls["newPassword"]?.touched && updatePasswordForm?.controls["newPassword"]?.errors' class="text-danger">
                    <span *ngIf='updatePasswordForm?.controls["newPassword"]?.required'>New Password is required.</span>
                    <span *ngIf='updatePasswordForm?.controls["newPassword"]?.maxLength'>Only 16 characters allowedd for password.</span>
                    <span *ngIf='updatePasswordForm?.controls["newPassword"]?.minLength'>At least 8 characters needed for password.</span>
                </div>
            </div>
            <div class="col-md-6 form-group">
                <label for="confirmNewPassword">Powtórz nowe hasło</label>
                <input class="form-control" id="confirmNewPassword" placeholder="********" value="" type="password" [formControl]='updatePasswordForm?.controls["confirmPassword"]'>
                <div *ngIf='updatePasswordForm?.controls["confirmPassword"]?.touched && updatePasswordForm?.controls["confirmPassword"]?.errors' class="text-danger">
                    <span *ngIf='updatePasswordForm?.controls["confirmPassword"]?.required'>Confirm Password is required.</span>
                    <span *ngIf='updatePasswordForm?.controls["confirmPassword"]?.matchValues'>Confirm Password must match.</span>
                </div>
            </div>
            <div class="row text-center">
                <div class="col">
                    <button type="submit" [disabled]="updatePasswordForm?.invalid" class="btn btn-primary btn-md mt-3 d-none d-md-inline-block d-sm-none" id="btnMdUpdatePassword">
                        <span class="btn-text"><i class="fas fa-pen mr-2"></i>Zmień hasło</span>
                    </button>

                    <button type="submit" [disabled]="updatePasswordForm?.invalid" class="btn btn-primary btn-md mt-3 btn-block d-block d-md-none" id="btnSmUpdatePassword">
                        <span class="btn-text"><i class="fas fa-pen mr-2"></i>UPDATE</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div> -->

<div class="text-center form-group mt-3">
    <form [formGroup]='updatePasswordForm' (ngSubmit)="updatePasswordForm?.valid && onSubmit()" class="text-center column">
        <label for="currentPassword">Stare hasło</label>
        <div class="mb-3">
            <input type="password" id="currentPassword" [formControl]='updatePasswordForm?.controls["currentPassword"]' placeholder="********"/>
        </div>
            <div *ngIf="updatePasswordForm?.controls['currentPassword'].errors?.required && updatePasswordForm?.controls['currentPassword']?.touched" class="text-danger mb-2">
                Stare hasło jest wymagane
            </div>
        <label for="newPassword">Nowe hasło</label>
        <div class="mb-3">
            <input type="password" id="newPassword" [formControl]='updatePasswordForm?.controls["newPassword"]' placeholder="********"/>
        </div>
        <div class="mb-2">
            <div *ngIf="updatePasswordForm?.controls['newPassword']?.errors?.required && updatePasswordForm?.controls['newPassword']?.touched" class="text-danger mb-2">
                Nowe hasło jest wymagane 
            </div>
            <div *ngIf="updatePasswordForm?.controls['newPassword']?.errors?.minLength && updatePasswordForm?.controls['newPassword']?.touched" class="text-danger mb-2">
                Nowe hasło musi zawierać co najmniej 8 znaków
            </div>
            <div *ngIf="updatePasswordForm?.controls['newPassword']?.errors?.maxLength && updatePasswordForm?.controls['newPassword']?.touched" class="text-danger mb-2">
                Nowe hasło musi zawierać co najwyżej 16 znaków
            </div>
            <div *ngIf="updatePasswordForm?.controls['newPassword']?.errors?.minLength && updatePasswordForm?.controls['newPassword']?.touched" class="text-danger mb-2">
                Nowe hasło musi zawierać co najmniej 8 znaków
            </div>
            <div *ngIf="updatePasswordForm?.controls['newPassword']?.errors?.pattern && updatePasswordForm?.controls['newPassword']?.touched" class="text-danger mb-2">
                Zachowaj odpowiednie formatowanie. Hasło musi zawierać co najmniej: <br>
                * 8 znaków <br>
                * 1 cyfrę <br>
                * zarówno małe i duże litery <br>
                * 1 znak specjalny <br>
            </div>
        </div>
        <label for="confirmPassword">Powtórz hasło</label>
        <div class="mb-3">
            <input type="password" id="confirmPassword" [formControl]='updatePasswordForm?.controls["confirmPassword"]' placeholder="********"/>
        </div>
        <div class="mb-2">
            <div *ngIf="updatePasswordForm?.controls['confirmPassword']?.errors?.required && updatePasswordForm?.controls['confirmPassword']?.touched" class="text-danger mb-2">
                Powtórzenie hasła jest wymagane
            </div>
            <div *ngIf="updatePasswordForm?.controls['confirmPassword']?.value !== updatePasswordForm?.controls['newPassword']?.value && updatePasswordForm?.controls['confirmPassword']?.touched" class="text-danger mb-2">
                Hasła muszą być takie same
            </div>
        </div>
            <button class="btn btn-success ml-2 col-2" type="submit" [disabled]="!updatePasswordForm?.valid" style="margin-bottom: 40px;">Zmień hasło</button>
    </form>
</div>