<div class="row">
    <table class="table">
        <tr>
            <th style="width: 20%">Avatar</th>
            <th style="width: 30%;">Użytkownik</th>
            <th style="width: 30%;">Aktywne role</th>
            <th style="width: 20%;"></th>
        </tr>
        <tr *ngFor="let user of users">
            <app-user-card [user]="user"></app-user-card>
            <td><a routerLink='/members/{{user.username}}'>{{user.username}}</a></td>
            <td>{{user.roles}}</td>
            <td><button (click)="openRolesModal(user)" class="btn btn-info">Edytuj Role</button></td>
            <td><button (click)="openBanModal(user.username)" [attr.data-target]="'#'+user.username" class="btn btn-danger">Ban</button></td>
            <td><button (click)="unbanUser(user.username)" class="btn btn-success" [disabled]="!user.isBanned">Odbanuj</button></td>
            <td><button (click)="removeUser(user.id)" class="btn btn-warning">Usun uzytkownika</button></td>
        </tr>
    </table>
</div>