<!-- <div class="row">
    <table class="table">
        <tr>
            <th style="width: 20%">Avatar</th>
            <th style="width: 30%;">Użytkownik</th>
            <th style="width: 30%;">Aktywne role</th>
            <th style="width: 20%;"></th>
        </tr>
        <tr *ngFor="let user of users">
            <app-user-card [user]="user"></app-user-card>
            <td><a routerLink='/members/{{user.username}}'>{{user.username}}</a></td>
            <td>{{user.roles}}</td>
            <td><button (click)="openRolesModal(user)" class="btn btn-info">Edytuj Role</button></td>
            <td><button (click)="openBanModal(user.username)" [attr.data-target]="'#'+user.username" class="btn btn-danger">Ban</button></td>
            <td><button (click)="unbanUser(user.username)" class="btn btn-success" [disabled]="!user.isBanned">Odbanuj</button></td>
            <td><button (click)="removeUser(user.id)" class="btn btn-warning">Usun uzytkownika</button></td>
        </tr>
    </table>
</div> -->

<div class="row mb-3" style="border-bottom: 1px solid white;">
    <div class="col-sm-3 col-md-2">Avatar</div>
    <div class="col-sm-4 col-md-2">Użytkownik</div>
    <div class="col-sm-5 col-md-">Aktywne role</div>
    <div class="col-md-5 text-center"></div>
</div>
<div *ngFor="let user of users" class="row mt-2" style="border-bottom: 1px solid white;">
    <div class="col-sm-3 col-md-2 mb-2"><app-user-card [user]="user"></app-user-card></div>
    <div class="col-sm-4 col-md-2"><a routerLink='/members/{{user.username}}'>{{user.username}}</a></div>
    <div class="col-sm-5 col-md-2">{{user.roles}}</div>
    <div class="col-md-5 mr-1 text-center mb-2">
        <td><button (click)="openRolesModal(user)" class="btn btn-info mr-1">Edytuj Role</button></td>
        <td><button (click)="openBanModal(user.username)" [attr.data-target]="'#'+user.username" class="btn btn-danger mr-1">Ban</button></td>
        <td><button (click)="unbanUser(user.username)" class="btn btn-success mr-1" [disabled]="!user.isBanned">Odbanuj</button></td>
        <td><button (click)="removeUser(user.id)" class="btn btn-warning mr-1">Usun uzytkownika</button></td>
    </div>
</div>