img {
    min-width: 600px;
}

.card {
    min-height: 600px !important;
  }

textarea {
    background-color: gray;
    color: whitesmoke;
}

::placeholder {
    color: whitesmoke;
}

table {
    background-color: rgb(95, 94, 94);
}