<div class="card mb-4 text-center mt-5">
    <div class="card-img-wrapper">
        <div class="card-body p-1" style="text-align: center;">
            <div class="row">
                <div class="col-12">
                    <h4 class="card-title text-center mb-4 mt-3"> 
                        {{meme?.title || 'Jakieś gówno'}}
                    </h4>
                    <p>{{changeTimeZone(meme?.uploaded) | timeago}}</p>
                    <div *ngIf="meme?.url?.includes('youtube')">
                        <iframe height="400" [src]="trustedUrl | safe"></iframe>
                    </div>
                    <img src="{{addImageWatermark(meme.url) ? addImageWatermark(meme.url) : onErrorFunction()}}" class="card-img-top" onError="this.src='https://memegenerator.net/img/images/14687350.jpg'" *ngIf="checkURL(meme?.url)"/>
                    <video src="{{meme?.url}}" class="card-img-top" *ngIf="!checkURL(meme?.url) && !meme?.url?.includes('https://www.youtube')" controls></video>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <span class="inline-block">autor: <a class="nav-link" routerLink='/uzytkownicy/{{meme?.username}}'>{{meme?.username}}</a></span>
            <button class="btn btn-success mr-2" (click)="addFavourite(meme.id)" [ngStyle]="!favourite ? { 'color': 'white' } : { 'color': 'red', 'background-color': 'yellow' }"><i class="fa fa-thumb-tack" style="margin-top: -5px !important;" aria-hidden="true"></i></button>
            <button (click)="addLike(meme)" [disabled]="disliked" class="btn btn-success mr-2" [ngStyle]="!liked ? { 'color': 'white' } : { 'color': 'red', 'background-color': 'yellow' }"><i class="fa fa-thumbs-up" style="margin-top: -5px !important;"></i></button>
            <span class="btn btn-primary mr-2" id="likes" style="min-width: 100px;">{{meme?.numberOfLikes}}</span>
            <button (click)="addDislike(meme)" [disabled]="liked" class="btn btn-danger" [ngStyle]="!disliked ? { 'color': 'white' } : { 'color': 'red', 'background-color': 'yellow' }"><i class="fa fa-thumbs-down" style="margin-top: -5px !important;"></i></button>
            <button class="btn btn-warning ml-2" (click)="flagAsSpam(meme.id)"><i class="fa fa-flag" aria-hidden="true"></i></button>
        </div>
    </div>
    <div *ngIf="comments?.length > 0" class="text-left mt-3 mb-2 ml-3">
        Komentarze: {{ numberOfComments }}
    </div>
</div>

<div class="text-center">
    <div *ngIf="(accountService.currentUser$ | async) !== null">
        <form [formGroup]='commentForm' (ngSubmit)="commentForm.valid && addComment()" class="text-center mb-3">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-9 col-lg-7 text-right">
                    <textarea type="text" [formControl]='commentForm.controls["content"]' placeholder="Wpisz treść komentarza"></textarea>
                </div>
                <div class="col-1 mt-1" *ngIf="checkIfUserWorthy(meme.id)">
                    <label class="custom-file-upload">
                        <input type="file" ng2FileSelect [uploader]="uploader" (change)="fileChangeEvent($event)" class="text-center" title="Wybierz"/>
                        <i class="fa fa-paperclip"></i>
                    </label>
                </div>
                <div class="col-2 col-lg-2 text-left">
                    <button class="btn btn-success" id="addComment" type="submit" [disabled]="!commentForm.valid">Dodaj <i class="fa fa-comment ml-1"></i></button>
                </div>
            </div>
            <div *ngIf="commentForm.controls['content'].errors?.maxlength" class="text-danger">
                Komentarz zbyt długi
            </div>
        </form>
    </div>
</div>



<div *ngIf="(accountService.currentUser$ | async) === null" class="text-center">
    <p id="warning">Zaloguj się aby dodać komentarz</p>
</div>

<div *ngIf="comments?.length === 0" class="text-center">
    <h3>Brak komentarzy</h3>
</div>

<div *ngIf="comments?.length > 0"></div>

<div *ngFor="let comment of comments">
    <app-comment [comment]="comment"></app-comment>
</div>

