<div class="row">
    <div class="col-4">
        <div class="card">
            <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.username}}" 
                class="card-img-top img-thumbnail">
            <div class="card-body">
                <div class="mb-2" *ngIf="(presence.onlineUsers$ | async).includes(member.username)" >
                    <i class="fa fa-user-circle text-success"></i> Online now
                </div>
                <div>
                </div>
                <div>
                    <strong>Age:</strong>
                    <p>{{member.age}}</p>
                </div>
                <div>
                    <strong>Last Active:</strong>
                    <p>{{member.lastActive | timeago}}</p>
                </div>
                <div>
                    <strong>Member since:</strong>
                    <p>{{member.created | date: 'dd MMM yyyy'}}</p>
                </div>
            </div>
            <div class="card-footer">
            </div>
        </div>
    </div>
    <div class="col-8">
        <tabset class="member-tabset" style="background-color: black;" #memberTabs>
            <tab heading='About {{member.username}}' (selectTab)="onTabActivated($event)">
                <button (click)="addLike(member)" class="btn btn-primary">Like</button>
                <!-- <button (click)="removeLike(member)" class="btn btn-primary">Dislike</button> -->
                <button (click)="selectTab(3)" class="btn btn-success">Message</button>
                <!-- {{member.likes}} -->
            </tab>
            <tab heading='Memy' (selectTab)="onTabActivated($event)">
                <ngx-gallery [options]="galleryOptions" [images]="galleryImages" 
                    style="display: inline-block; margin-bottom: 20px;"></ngx-gallery>
            </tab>
            <tab heading='Wiadomości' (selectTab)="onTabActivated($event)">
                <app-member-messages [username]="member.username"></app-member-messages>
            </tab>
        </tabset>
    </div>
</div>