.img-thumbnail {
    margin: 25px;
    width: 85%;
    height: 85%;
}

.card-body {
    padding: 0 25px;
}

.text-center {
  background-color: #555 !important;
}

.member-tabset > .tab-content {
  background-color: #555 !important;
}

#background {
  background-color: #555 !important;
}

#customButton {
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  min-width: 70px;
  border: 1px solid yellow;
  border-radius: 5px;
}

#customButton:hover {
  color: red;
  text-decoration: none;
}

.card-footer {
    padding: 10px 15px;
    background-color: gray;
    border-top: none;
}

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }