<div class="card">
    <div class="card-body">
        <h1 class="card-title ml-3 mb-3">Resetowanie hasła</h1>

        <div *ngIf="showError" class="alert alert-danger" role="alert">
            <span [innerHTML]="errorMessage"></span>
        </div>

        <div *ngIf="showSuccess" class="alert alert-success" role="alert">
            Twoje hasło zostało zmienione. Naciśnij <a [routerLink]="['/']"> aby się zalogować. </a>
        </div>

        <form [formGroup]="resetPasswordForm" autocomplete="off" novalidate (ngSubmit)="resetPassword(resetPasswordForm.value)">
            <div class="form-group text-center row mt-4">
                <div class="col-lg-2"></div>
                <div class="col-3 col-lg-2 text-right">
                    <label for="password" class="col-form-label">Hasło:</label>
                </div>
                <div class="col-8 col-lg-5">
                    <i class="fa fa-eye mr-2" (click)="showPassword()" *ngIf="!togglePassword" style="float: left;"></i>
                    <i class="fa fa-eye-slash mr-3" (click)="showPassword()" *ngIf="togglePassword" style="float: left;"></i>
                    <input type={{type}} id="password" formControlName="password" class="form-control" />
                </div>
            </div>
            <div class="text-center text-danger mb-3">
                <em *ngIf="validateControl('password') && hasError('password', 'required')">Hasło jest wymagane</em>
            </div>
            <div class="text-center text-danger mb-3">
                <em *ngIf="validateControl('password') && hasError('password', 'pattern')">
                    Zachowaj odpowiednie formatowanie. Hasło musi zawierać co najmniej: <br>
                    * 8 znaków <br>
                    * 1 cyfrę <br>
                    * zarówno małe i duże litery <br>
                    * 1 znak specjalny <br>
                </em>
            </div>
            <div class="form-group row">
                <div class="col-lg-2"></div>
                <label for="confirm" class="col-form-label col-3 col-lg-2 text-right">Potwierdź hasło:</label>
                <div class="col-8 col-lg-5">
                    <div>
                        <i class="fa fa-key mr-2" style="float: left;"></i>
                        <input type="password" id="confirm" formControlName="confirm" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="text-center text-danger mb-3">
                <em *ngIf="validateControl('confirm') && hasError('confirm', 'required')">Musisz potwierdzić hasło</em>
                <em *ngIf="hasError('confirm', 'mustMatch')">Hasła muszą się zgadzać</em>
            </div>
            <br>
            <div class="form-group row text-center">
                <div class="col-md-1">          
                    <button type="submit" class="btn btn-info" [disabled]="!resetPasswordForm.valid">Zatwierdź</button>
                </div>
            </div>
        </form>
    </div>
</div>