<div class="card">
    <div class="card-body">
        <h1 class="card-title">Resetowanie hasła</h1>
        <br />

        <div *ngIf="showError" class="alert alert-danger" role="alert">
            <span [innerHTML]="errorMessage"></span>
        </div>

        <div *ngIf="showSuccess" class="alert alert-success" role="alert">
            Twoje hasło zostało zmienione. Naciśnij <a [routerLink]="['/']"> aby się zalogować. </a>
        </div>

        <form [formGroup]="resetPasswordForm" autocomplete="off" novalidate (ngSubmit)="resetPassword(resetPasswordForm.value)">
            <div class="form-group text-center row">
                <div class="col-md-3"></div>
                <label for="password" class="col-form-label col-sm-2">Hasło:</label>
                <div class="col-md-5">
                    <input type="password" id="password" formControlName="password" class="form-control" />
                </div>
            </div>
            <div class="text-center text-danger mb-3">
                <em *ngIf="validateControl('password') && hasError('password', 'required')">Hasło jest wymagane</em>
            </div>
            <div class="text-center text-danger mb-3">
                <em *ngIf="validateControl('password') && hasError('password', 'pattern')">
                    Zachowaj odpowiednie formatowanie. Hasło musi zawierać co najmniej: <br>
                    * 8 znaków <br>
                    * 1 cyfrę <br>
                    * zarówno małe i duże litery <br>
                    * 1 znak specjalny <br>
                </em>
            </div>
            <div class="form-group row">
                <div class="col-md-3"></div>
                <label for="confirm" class="col-form-label col-sm-2">Potwierdź hasło:</label>
                <div class="col-md-5">
                    <input type="password" id="confirm" formControlName="confirm" class="form-control" />
                </div>
            </div>
            <div class="text-center text-danger mb-3">
                <em *ngIf="validateControl('confirm') && hasError('confirm', 'required')">Musisz potwierdzić hasło</em>
                <em *ngIf="hasError('confirm', 'mustMatch')">Hasła muszą się zgadzać</em>
            </div>
            <br>
            <div class="form-group row">
                <div class="col-md-1">          
                    <button type="submit" class="btn btn-info" [disabled]="!resetPasswordForm.valid">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- <div class="card">
    <div class="card-body">
        <h1 class="card-title">Change Password</h1>

        <div *ngIf="showError" class="alert alert-danger" role="alert">
            <span [innerHTML]="errorMessage"></span>
        </div>

        <div *ngIf="showSuccess" class="alert alert-success" role="alert">
            Your password has been changed. Please <a [routerLink]="['/authentication/login']"> click here to log in. </a>
        </div>

        <form [formGroup]="changePasswordForm" autocomplete="off" novalidate (ngSubmit)="changePassword(changePasswordForm.value)">
            <div class="form-group row">
                <label for="password" class="col-form-label col-sm-2">Current Password:</label>
                <div class="col-md-5">
                    <input type="password" id="currentPassword" formControlName="currentPassword" class="form-control" />
                </div>
                <div class="col-md-5">
                    <em *ngIf="validateControl('password') && hasError('password', 'required')">Password is required</em>
                </div>
            </div>
            <div class="form-group row">
                <label for="confirm" class="col-form-label col-sm-2">New Password:</label>
                <div class="col-md-5">
                    <input type="password" id="newPassword" formControlName="newPassword" class="form-control" />
                </div>
                <div class="col-md-5">
                    <em *ngIf="validateControl('confirm') && hasError('confirm', 'required')">Confirmation is required</em>
                    <em *ngIf="hasError('confirm', 'mustMatch')">Passwords must match</em>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <div class="col-md-1">          
                    <button type="submit" class="btn btn-info" [disabled]="!changePasswordForm.valid">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div> -->