input {
    background-color: gray;
    color: whitesmoke !important;
    width: 80%;
}

input:focus {
    background-color: gray;
}

i {
    margin-top: 10px;
}

.fa-eye:hover, .fa-eye-slash:hover {
    cursor: pointer;
    color: red;
}

form {
    border-top: 1px solid white;
}

@media screen and (max-width: 800px) {

    .card {
        font-size: 12px !important;
    }

    i {
        font-size: 14px !important;
    }
}