.img-thumbnail {
    margin: 25px;
    width: 85%;
    height: 85%;
}

.card-body {
    padding: 0 25px;
}

.card-footer {
    padding: 10px 15px;
    background-color: #fff;
    border-top: none;
}

hr {
    border-color: whitesmoke !important;
    margin-bottom: 20px;
}

input[type="password"] {
    background-color: gray;
    color: whitesmoke;
}

.card-img-top {
  max-height: 300px;
  max-width: 220px;
}

#helicopter {
  height: 15px;
  color: white !important;
  margin-right: 10px;
  margin-left: -5px;
  margin-bottom: 2px;
}

  /* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  @media screen and (max-width: 700px) {
  
    .card-body {
      margin-left: -20px !important;
      margin-top: -20px !important;
    }

    ::-webkit-scrollbar {
      width: 2px;
    }
  }
