<div class="row text-center" id="background" style="border: 3px solid rgb(209, 207, 207);" *ngIf="member">
    <br />
    <div class="col-12 text-center mt-2 mb-4"><h3>Twój profil</h3></div>
    <div class="col-6 text-center mb-5" style="border-right: 1px solid white; margin-left: auto; margin-right: auto;">
        <div *ngFor="let photo of member.photos" style="margin-left: auto; margin-right: auto;">
            <img src="{{photo.url || '././assets/LogoImage.png'}}" alt="{{member.username}}" class="card-img-top img-thumbnail">
        </div>
        <div *ngIf="member.photos.length === 0">
            <img src="{{'././assets/LogoImage.png'}}" alt="{{member.username}}" class="card-img-top img-thumbnail">
        </div>
        <h3 style="color: rgb(170, 139, 37);" *ngIf="member?.username?.length < 8">{{member.username}}</h3>
        <h4 style="color: rgb(170, 139, 37);" *ngIf="member?.username?.length > 8 && member?.username?.length < 16">{{member.username}}</h4>
        <h5 style="color: rgb(170, 139, 37);" *ngIf="member?.username?.length > 16">{{member.username}}</h5>
        <hr>
        <h4 class="mt-2">Odznaki</h4>
        <div class="mt-4">
            <span *ngIf="comments?.length + replies?.length > 10" class="mr-3">
                <img src="./assets/silver-pepe.png" alt="golden badge" style="max-height: 50px;" title="Złoty pepe">
            </span>
            <span  *ngIf="mainMemes > 5" class="mr-3">
                <img src="./assets/golden-pepe.png" alt="silver badge" style="max-height: 50px;" title="Srebrny pepe">
            </span>
        </div>
    </div>
    <div class="col-6" id="attributes" style="margin-top: 50px;">
        <div class="card-body text-left ml-5">
            <div class="mb-3">
                <i class="fa fa-calendar mr-2"></i><strong> Wiek: </strong><span style="color: greenyellow">{{member.age}}</span>
            </div>
            <i class="fa-solid fa-helicopter"></i>
            <div class="mb-3">
                <i *ngIf="member.gender === 'female'" class="fa fa-female mr-2"></i>
                <i *ngIf="member.gender === 'male'" class="fa fa-male mr-2"></i>
                <img *ngIf="member.gender !== 'male' && member.gender !== 'female'" id="helicopter" src="././assets/helicopter-solid.svg">
                <strong>Płeć: </strong><span style="color: greenyellow">{{genderToPolish(member.gender)}}</span>
            </div>
            <div class="mb-3">
                <i class="fa fa-history mr-2" aria-hidden="true"></i><strong>Ostatnia aktywność: </strong><span style="color: greenyellow">{{member.lastActive | timeago}}</span>
            </div>
            <div class="mb-3">
                <i class="fa fa-user-plus mr-2" aria-hidden="true"></i><strong>Dołączył: </strong><span style="color: greenyellow">{{changeDateFormat(member.created)}} ({{member.created | timeago}})</span>
            </div>
            <div class="mb-3">
                <i class="fa fa-photo mr-2"></i>Ilość wrzut: <span style="color: greenyellow"> {{ member.memes?.length || '0' }} / {{ mainMemes || '0' }}</span>
            </div>
            <div class="mb-3">
                <i class="fa fa-plus mr-2"></i>Ilość plusów: <span style="color: greenyellow"> {{ numberOfLikes || '0' }}</span>
            </div>
            <div class="mb-3">
                <i class="fa fa-comment mr-2"></i>Ilość komentarzy: <span style="color: greenyellow"> {{ comments?.length + replies?.length || '0' }}</span>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <tabset class="text-center col-12" id="tabs">
        <tab heading='Moje memy' class="text-center"
            #scrollMe
            style="overflow-y: auto; height: 1000px;"
            [scrollTop]="scrolltop"
            *ngIf="memes?.length > 0"
        >
            <div *ngFor="let meme of memes" >
                <app-meme-card [meme]="meme"></app-meme-card>
                <div class='text-center mb-5' id="reject" *ngIf="!checkIfOlderThan1Hour(meme.uploaded, user)">
                    <button class='btn btn-sm btn-danger' (click)='removeMeme(meme.id)'><i class="fa fa-trash"></i> Usuń</button>
                </div>
            </div>

            <div class="d-flex justify-content-center" *ngIf="memes?.length !== 0 && pagination">
                <pagination
                    [boundaryLinks]="true" 
                    [totalItems]="pagination.totalItems"
                    [itemsPerPage]="pagination.itemsPerPage"
                    [(ngModel)]="pagination.currentPage"
                    (pageChanged)="pageChanged($event)"
                    style="bottom: 0;"
                    previousText="&lsaquo;" 
                    nextText="&rsaquo;" 
                    firstText="&laquo;" 
                    lastText="&raquo;">
                </pagination>
            </div>
        </tab>

        <tab heading='Moje memy' (selectTab)="onTabActivated($event)"
        #scrollMe
        style="overflow-y: auto; height: 300px;"
        [scrollTop]="scrolltop"
        *ngIf="memes?.length === 0"
        >
        <div *ngIf="memes?.length === 0" class="text-center mt-3" valign="center">
            <img src="https://c.tenor.com/j5YcO9slE7YAAAAC/leslie-nielsen-nothing-to-see-here.gif" class="card-img-top mt-3" style="max-width: 400px;">
        </div>
        </tab>
        <tab heading='Komentarze'>
            <div class="mt-3" *ngFor="let comment of comments">
                <div>
                    <app-member-comments [comment]="comment"></app-member-comments>
                </div>
            </div>
            <div class="mt-3" *ngFor="let reply of replies">
                <div>
                    <app-member-replies [reply]="reply"></app-member-replies>
                </div>
            </div>
            <div *ngIf="comments?.length <= 0" class="text-center mt-3" style="min-height: 200px;">
                <h3 class="mt-5">Brak komentarzy użytkownika</h3>
            </div>
        </tab>
        <tab heading='Zmiana avatara' class="text-center">
            <app-photo-editor [member]="member"></app-photo-editor>
        </tab>
        <tab heading='Moje konto' class="text-center">
            <app-change-password></app-change-password>
        </tab>
    </tabset>
</div>