<div class="row" *ngIf="member">
    <div class="col-4 text-center">
        <h1>Twój profil</h1>
    </div>
    <div class="col-8">
        <div class="alert alert-info" *ngIf="editForm.dirty">
            <strong>Information: </strong> You have made changes.  Any unsaved changes will be lost
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <img src="{{user.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}" 
                class="card-img-top img-thumbnail">
            <div class="card-body">
                <div>
                    <strong>Wiek:</strong>
                    <p>{{member.age}}</p>
                </div>
                <div>
                    <strong>Ostatnia aktywność:</strong>
                    <p>{{member.lastActive | timeago}}</p>
                </div>
                <div>
                    <strong>Dołączył:</strong>
                    <p>{{member.created}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-8 text-center">
        <tabset class="member-tabset text-center" class="col-12">
            <tab heading='Profil użytkownika {{member.username}}'>
                <form #editForm="ngForm" id="editForm" (ngSubmit)="changePassword()">

                </form>
                <br>
                <h1 style="color: red;">{{member.username}}</h1>
                <br>
                <div class="text-center">
                    <span class="ml-3 col-6"><i class="fa fa-photo mr-2"></i>Ilość wrzut: {{member.memes?.length}}</span>
                    <span class="ml-3 col-6"><i class="fa fa-plus mr-2">
                        </i>Ilość plusów: {{ members?.length || '0' }}</span>
                    <div class="row mt-3">
                    </div>
                </div>
                <br>
                <br>
                <hr>
                <h4 class="mb-5 strong">Moje memy</h4>
                <div class="text-center"
                    #scrollMe
                    style="overflow-y: auto; height: 500px;"
                    [scrollTop]="scrolltop"
                >
                    <div *ngFor="let meme of memes" >
                        <img src="{{meme.url}}" class="card-img-top" onError="this.src='https://memegenerator.net/img/images/14687350.jpg'" style="max-width: 400px;">
                        <div class="text-center">
                            <span class="btn btn-primary mt-3 mb-3" style="min-width: 100px;">0</span>
                            <button 
                            (click)="deleteMeme(meme.id)"
                            class="btn btn-sm btn-danger"
                            ><i class="fa fa-trash"></i></button>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center" *ngIf="memes?.length !== 0 && pagination">
                        <pagination
                            [boundaryLinks]="true" 
                            [totalItems]="pagination.totalItems"
                            [itemsPerPage]="pagination.itemsPerPage"
                            [(ngModel)]="pagination.currentPage"
                            (pageChanged)="pageChanged($event)"
                            style="bottom: 0;"
                            previousText="&lsaquo;" 
                            nextText="&rsaquo;" 
                            firstText="&laquo;" 
                            lastText="&raquo;">
                        </pagination>
                    </div>
                    
                </div>
            </tab>
            <tab heading='Zmiana avatara' class="text-center">
                <app-photo-editor [member]="member"></app-photo-editor>
            </tab>
            <tab heading='Zmiana hasła' class="text-center">
                <!-- <app-reset-password></app-reset-password> -->
                <app-reset-password></app-reset-password>
            </tab>
        </tabset>
    </div>
</div>