.preview {
width: 400px;
max-height: 150px;
background-color:#bdbdbd;
border-style: solid;
border-color: grey;
border-width: 1px;
}

.title {
font-weight: bold;
}

.image {
max-height: 150px;
border: 1px solid white;
}

.preview-field {
  float: left; 
  max-height: 150px; 
  background-color: rgb(124, 124, 124); 
  min-width: 550px !important; 
  overflow-y: auto;
}

.preview-text {
color: black;
text-align: left;
overflow-y: auto;
}

.hyperlink {
text-decoration: none;
cursor: pointer;
}


::placeholder {
color: white;
}