.preview {
width: 400px;
max-height: 150px;
background-color:#bdbdbd;
border-style: solid;
border-color: grey;
border-width: 1px;
}

.title {
font-weight: bold;
}

.image {
max-height: 150px;
min-width: 260px;
object-fit: cover;
border: 1px solid white;
margin-left: -100px;
}

.preview-field {
  float: left; 
  max-height: 150px; 
  min-height: 150px;
  background-color: rgb(124, 124, 124); 
  min-width: 550px !important; 
  overflow-y: auto;
  margin-left: -200px;
}

.preview-text {
color: black;
text-align: left;
overflow-y: auto;
}

.hyperlink {
text-decoration: none;
cursor: pointer;
}


::placeholder {
color: white;
}

@media screen and (max-width: 800px) {
  #linkPreview {
    margin-left: 30px !important;
  }
}

@media screen and (max-width: 700px) {
  .image {
    margin-left: -80px;
    max-height: 100px;
    min-width: 160px !important;
    object-fit: cover;
    border: 1px solid white;
    }

  .preview-field {
    float: left; 
    max-height: 100px; 
    min-height: 100px;
    background-color: rgb(124, 124, 124); 
    min-width: 250px !important; 
    overflow-y: auto;
    font-size: 10px;
    margin-left: -85px;
  }
}

#linkPreview {
  margin-bottom: 20px;
}