<div class="container">
    <div style="padding: 10px"
    style="overflow-y: auto; height: 500px;">
    <div style="border: 1px solid white; padding: 20px;">
        <h3 style="color: red;" class="text-center">Regulamin użytkowania strony</h3>
        <br />
        <br />
        <p>Przed założeniem konta w Serwisie należy uważnie przeczytać poniższy Regulamin i Politykę Prywatności. Założenie konta jest równoznaczne z tym, że Użytkownik:</p>
        <p>- Zapoznał się z treścią Regulaminu i wyraża zgodę na wszystkie jego postanowienia</p>
        <p>- Zobowiązuje się do korzystania z Serwisu zgodnie z prawem</p>
        <p>- Zgadza się na przetwarzanie jego danych osobowych w zakresie podanym w Regulaminie i Polityce Prywatności</p>
        <div class="mt-2">Regulamin korzystania z serwisu internetowego ddmemes.pl oraz polityka serwisu w zakresie ochrony praw autorskich:</div>
        <!-- <ol>
            <li>Dobieranie odpowiednich działów w zależności od treści, żadnych pornomemów, gore ani hentaiców w działach otwartych, a tym bardziej w poczekalni - powód jest prosty, mają tam dostęp niezalogowani użytkownicy, więc nie ma możliwości zweryfikowania wieku osoby przeglądającej. Niedopowiednie dobranie działu może skutkować banem lub nawet usunięciem konta, w zależności od tego, jak bardzo zawartość będzie nie na miejscu</li>
            <li>Zakaz spammowania powtarzającymi się treściami, wszyscy użytkownicy chcą się pośmiać, ale ten sam kotlet odgrzewany zbyt wiele razy nie smakuje już tak jak na początku. Wedle uznania, zalogowani użytkownicy mogą oznaczać je jako spam, co następnie skutkować może usunięciem mema (w skrajnych przypadkach banem)</li>
        </ol> -->
        <ol class="mt-2">
            <li>Użyte w Regulaminie pojęcia oznaczają:</li>
                <ol>
                    <li>Adres e-mail Użytkownika - adres poczty elektronicznej, której wyłącznym dysponentem jest Użytkownik, konieczny do dokonania autoryzacji w trakcie uzyskiwania dostępu do Konta Użytkownika, ustalany przez Użytkownika podczas procesu Rejestracji.</li>
                    <li>Awaria - oznacza stan Usługi, który uniemożliwia Użytkownikowi korzystanie z Usługi, jednak z wyłączeniem sytuacji, w której brak możliwości korzystania z Usługi jest wynikiem okresu zawieszenia lub przerwy w świadczeniu Usługi dozwolonej w ramach Regulaminu; lub jest wynikiem naruszenia Regulaminu przez Użytkownika; lub jest wynikiem działania Siły Wyższej; lub która wystąpiła w infrastrukturze telekomunikacyjnej, z której korzysta Użytkownik.</li>
                    <li>Hasło - ciąg znaków alfanumerycznych konieczny do dokonania autentykacji w trakcie uzyskiwania dostępu do Konta Użytkownika, ustalany przez Użytkownika podczas procesu Rejestracji.</li>
                    <li>Komentarz - pisemne wyrażenie opinii przez Użytkownika na temat Treści, do których odniesienie zamieszczono przez innego Użytkownika.</li>
                    <li>Konto Użytkownika (Konto, profil) - konto, do którego dostęp Użytkownika możliwy jest wyłącznie po dokonaniu przez niego jednorazowej Rejestracji oraz każdorazowym podaniu Nazwy Użytkownika i Hasła, za pośrednictwem którego Użytkownik dokonuje zamieszczenia odniesienia (linku) do Treści; Konto zawierać może inne informacje o Użytkowniku, stosownie do oferowanej w danym czasie funkcjonalności Serwisu. Zmiana danych w ramach Konta Użytkownika (w tym w zakresie umieszczonych w Serwisie plików) możliwa jest po uprzednim zalogowaniu się przez Użytkownika na Konto (wymagana Nazwa Użytkownika i Hasło).</li>
                    <li>Nazwa Użytkownika (login) - ciąg znaków alfanumerycznych konieczny do dokonania autoryzacji w trakcie uzyskiwania dostępu do Konta Użytkownika, ustalany przez Użytkownika podczas procesu Rejestracji.</li>
                    <li>Rejestracja - jednorazowa czynność, polegająca na założeniu przez Użytkownika Konta Użytkownika, dokonana z wykorzystaniem panelu administracyjnego udostępnionego przez Usługodawcę na stronie Serwisu.</li>
                    <!-- <li>Regulamin - niniejszy Regulamin Serwisu dostępnego pod adresem: jbzd.com.pl/regulamin</li> -->
                    <li>Serwis - serwis internetowy, który umożliwia Użytkownikom przechowywanie Treści, pod adresem ddmemes.pl, za pośrednictwem którego świadczona jest Usługa.</li>
                    <li>Strony - Usługodawca i Użytkownik.</li>
                    <li>Siła Wyższa - zdarzenie nadzwyczajne o charakterze zewnętrznym wobec Strony, niezależne od danej Strony, któremu Strona nie mogła zapobiec przy dołożeniu należytej staranności.</li>
                    <li>Treść (Treści) - treści i obiekty multimedialne (np. informacje, dane, pliki graficzne, zdjęcia lub filmy) w tym utwory w rozumieniu Ustawy o prawie autorskim i prawach pokrewnych oraz wizerunki osób fizycznych jakie są zamieszczane przez Użytkownika za pośrednictwem Konta.</li>
                    <li>Umowa - umowa o świadczenie usług drogą elektroniczną pomiędzy Stronami.</li>
                    <li>Usługa - usługa hostingu świadczona przez Usługodawcę na zasadach określonych w Regulaminie oraz za pośrednictwem Serwisu, która polega na zapewnieniu Użytkownikowi narzędzi teleinformatycznych celem przechowywania - w ramach Konta Użytkownika - zamieszczonych przez Użytkownika Treści.</li>
                    <li>Ustawa o prawie autorskim i prawach pokrewnych - Ustawa z dnia 4 lutego 1994r. o prawie autorskim i prawach pokrewnych (Dz.U. 1994r., Nr 24, poz. 83, ze zm.).</li>
                    <li>Ustawa o ochronie danych osobowych - Ustawa o ochronie danych osobowych z dnia 27 sierpnia 1997 r. (tekst jednolity: Dz. U. z 2002 r. Nr 101, poz. 926 ze zm.).</li>
                    <li>Ustawa o świadczeniu usług drogą elektroniczną - Ustawa z dnia 18 lipca 2002r. o świadczeniu usług drogą elektroniczną (Dz.U. 2002r., Nr 144, poz. 1244 ze zm.).</li>
                    <li>Użytkownik - osoba fizyczna, która ukończyła 18 rok życia. W przypadku nieukończenia przez Użytkownika 18 roku życia wymagana jest zgoda jego przedstawiciela ustawowego.</li>
                </ol>
            <li>Postanowienia ogólne:</li>
        </ol>
        <div class="text-center">
            <button class="btn btn-success mt-3" (click)="close()"><i class="fa fa-check mr-2"></i>Rozumiem</button>
        </div>
    </div>
</div>
</div>


