<h3 style="color: red;">Regulamin użytkowania strony</h3>
<br />
<br />
<div>Użytkownicy obowiązują się do przestrzenia poniższych zasad:</div>
<ol>
    <li>Dobieranie odpowiednich działów w zależności od treści, żadnych pornomemów, gore ani hentaiców w działach otwartych, a tym bardziej w poczekalni - powód jest prosty, mają tam dostęp niezalogowani użytkownicy, więc nie ma możliwości zweryfikowania wieku osoby przeglądającej. Niedopowiednie dobranie działu może skutkować banem lub nawet usunięciem konta, w zależności od tego, jak bardzo zawartość będzie nie na miejscu</li>
    <li>Zakaz spammowania powtarzającymi się treściami, wszyscy użytkownicy chcą się pośmiać, ale ten sam kotlet odgrzewany zbyt wiele razy nie smakuje już tak jak na początku. Wedle uznania, zalogowani użytkownicy mogą oznaczać je jako spam, co następnie skutkować może usunięciem mema (w skrajnych przypadkach banem)</li>
</ol>
