#memeContainer {
    width: 100%;
    background-color: black;
    min-height: 1000px;
}

img {
    max-width: 600px;
}

#warning {
    color: red; 
    border: red; 
    margin-top: 50px !important;
}