<div class="container text-center">

    <button 
        class="dropdown-item" 
        (click)="memeToggle()"
        *ngIf="(!accountService.currentUser$ | async) === null" 
        id="register" 
        class="btn btn-primary btn-lg mr-2" 
        style="align-items: center;"
    >
    Dodaj mema</button>

    <div class="container text-center" *ngIf="memeUploadMode">
        <div class="row mt-3">
 
            <div class="col-md-3">
        
                <h3>Dodaj mema</h3>
        
                <div ng2FileDrop
                     [ngClass]="{'nv-file-over': hasBaseDropzoneOver}"
                     (fileOver)="fileOverBase($event)"
                     [uploader]="uploader"
                     class="card bg-faded p-3 text-center mb-3 my-drop-zone">
                     <i class="fa fa-upload fa-3x"></i>
                    Przeciągnij mema tutaj
                </div>
        
                <input type="file" ng2FileSelect [uploader]="uploader" />
            </div>
        
            <div class="col-md-9" style="margin-bottom: 40px" *ngIf="uploader?.queue?.length">
        
                <h3>Kolejka</h3>
                <p>Długość kolejki: {{ uploader?.queue?.length }}</p>
        
                <table class="table">
                    <thead>
                    <tr>
                        <th width="50%">Nazwa</th>
                        <th>Rozmiar</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of uploader.queue">
                        <td><strong>{{ item?.file?.name }}</strong></td>
                        <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                    </tr>
                    </tbody>
                </table>
        
                <div>
                    <div>
                        Queue progress:
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-success btn-s"
                            (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                        <span class="fa fa-upload"></span> Upload all
                    </button>
                    <button type="button" class="btn btn-warning btn-s"
                            (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                        <span class="fa fa-ban"></span> Cancel all
                    </button>
                    <button type="button" class="btn btn-danger btn-s"
                            (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                        <span class="fa fa-trash"></span> Remove all
                    </button>
                </div>
        
            </div>
    </div>

</div>

<div class="row">
    <div *ngFor="let meme of memes" class="col-sm-6 col-md-4 col-lg-2">
        <app-member-card [meme]="meme"></app-member-card>
    </div>
</div>
</div>

<div class="card mb-4 text-center mt-5">
    <div class="card-img-wrapper">
        <div class="card-body p-1">
            <h4 class="card-title text-center mb-3">
                Jakieś gówno
            </h4>
            <img src="https://cdn.vox-cdn.com/thumbor/cV8X8BZ-aGs8pv3D-sCMr5fQZyI=/1400x1400/filters:format(png)/cdn.vox-cdn.com/uploads/chorus_asset/file/19933026/image.png"
                class="card-img-top">
        </div>
        <div>
        <p class="inline-block">autor: <a class="nav-link" routerLink='/members/{{user.username}}'>{{user.username}}</a></p>
        <button (click)="addLike()" class="btn btn-success mr-2"><i class="fa fa-plus"></i></button>
            <span class="btn btn-primary mr-2" style="min-width: 50px;">{{likes}}</span>
        <button (click)="removeLike()" class="btn btn-danger"><i class="fa fa-minus"></i></button>
        </div>
    </div>
</div>


