<app-meme-upload></app-meme-upload>

<div class="card mb-4 text-center mt-5">
    <div class="card-img-wrapper">
        <div class="card-body p-1">
            <h4 class="card-title text-center mb-3 mt-2">
                Jakieś gówno
            </h4>
            <img src="https://cdn.vox-cdn.com/thumbor/cV8X8BZ-aGs8pv3D-sCMr5fQZyI=/1400x1400/filters:format(png)/cdn.vox-cdn.com/uploads/chorus_asset/file/19933026/image.png"
                class="card-img-top">
        </div>
        <div class="mb-3">
        <!-- <p class="inline-block">autor: <a class="nav-link" routerLink='/members/{{user.username}}'>{{user.username}}</a></p> -->
        <p class="inline-block">autor: lisa</p>
        <button (click)="addLike()" class="btn btn-success mr-2"><i class="fa fa-plus"></i></button>
            <span class="btn btn-primary mr-2" style="min-width: 100px;">{{likes}}</span>
        <button (click)="removeLike()" class="btn btn-danger"><i class="fa fa-minus"></i></button>
        </div>
    </div>
</div>

<!-- <div class="card mb-4 text-center mt-5" *ngFor="let member of members">
    <div class="card-img-wrapper">
        <div class="card-body p-1">
            <h4 class="card-title text-center mb-3">
                Jakieś gówno
            </h4>
            <img src="{{member.photoUrl}}"
                class="card-img-top">
        </div>
        <div>
        <button (click)="addLike()" class="btn btn-success mr-2"><i class="fa fa-plus"></i></button>
            <span class="btn btn-primary mr-2" style="min-width: 50px;">{{likes}}</span>
        <button (click)="removeLike()" class="btn btn-danger"><i class="fa fa-minus"></i></button>
        </div>
    </div>
</div> -->

<div *ngFor="let meme of memes">
    <app-meme-card [meme]="meme"></app-meme-card>
</div>


<!-- <div class="row">
    <div *ngFor="let member of members" class="col-sm-6 col-md-4 col-lg-2">
        <app-member-card [member]="member"></app-member-card>
    </div>
</div>

<div class="row">
    <div *ngFor="let meme of member.memes" class="col-sm-6 col-md-4 col-lg-2">
        <img src="{{meme.url}}">
        <app-meme-card [member]="member"></app-meme-card>
    </div>
</div> -->
