<div id="reply" class="mb-3" *ngIf="(accountService.currentUser$ | async) !== null">
    <div class="row" style="padding: 10px;">
        <div class="col-2 col-lg-2">
            <div><img id="avatar" src="{{url || '././assets/LogoImage.png'}}" alt=""></div>
            <div><a routerLink='/uzytkownicy/{{reply?.username}}' id="username">{{reply?.username}}</a></div>
        </div>
        <div id="timeago" class="col-2 col-lg-2">
            {{reply?.uploaded | timeago}}
        </div>
        <div class="col col-lg-6"></div>
        <div class="col-4 col-lg-2">
            <div class="text-right">
                <button id="like" class="mr-2" (click)="addLike(reply)"><i class="fa fa-plus" [ngStyle]="!liked ? { 'color': 'white' } : { 'color': 'green' }"></i></button>
                {{reply.numberOfLikes}}
                <button id="like" class="ml-2" (click)="addDislike(reply)"><i class="fa fa-minus" [ngStyle]="!disliked ? { 'color': 'white' } : { 'color': 'red' }"></i></button>
            </div>
            <div class="text-left">
                <div *ngIf="reply?.username === user?.username && reply?.content !== '[Komentarz został usunięty]'" (click)="editReplyToggle(reply.id) && reloadComments(comment)" style="display: inline-block">
                    <i id="edit" class="fa fa-pencil-square-o" aria-hidden="true" style="opacity: 0.7;">Edytuj</i>
                </div>
                <div *ngIf="reply.content !== '[Komentarz został usunięty]' && reply?.username === user?.username || user?.roles[0] === 'Admin' || user?.roles[1] === 'Moderator'" (click)="removeReply(reply?.id)">
                    <i id="delete" class="fa fa-trash" aria-hidden="true" style="opacity: 0.7;">Usuń</i>
                </div>
                <a routerLink='/meme/{{reply?.memeId}}/..'><i id="goTo" class="fa fa-share" aria-hidden="true"> Idź do</i></a>
            </div>
        </div>

    </div>
    <div class="text-left mt-3" id="content" style="padding: 10px; margin-left: 50px !important;">                    
        <span class="mb-3" *ngIf="reply.content !== '[Komentarz został usunięty]'" style="color: black;">
        @{{reply?.replyingToUser}}
        </span>
        <div *ngIf="reply?.quote !== null && reply?.content !== '[Komentarz został usunięty]'" id="quote" class="text-center mb-3">
            "{{reply?.quote}}"
        </div>
        <div>
            {{reply?.content}}
        </div>
    </div>
    <div id="image" class="text-center mb-3" *ngIf="reply.url !== null">
        <img src="{{reply?.url}}" alt="">
    </div>
    <div class="text-left mt-2">
        <i class="fa fa-reply ml-3 mb-1" *ngIf="!replyQuote" (click)="addReply()" style="opacity: 0.7;"> Odpowiedz</i>
        <i class="fa fa-quote-left ml-3 mb-1" *ngIf="!ifReply && reply?.content !== '[Komentarz został usunięty]'" (click)="addQuotedReply()" style="opacity: 0.7;"> Zacytuj</i>
    </div>
</div>

<div *ngIf="commentUpdate">
    <div class="text-center mt-2 mb-3">
        <form #editForm="ngForm" (ngSubmit)="editReply()" class="text-center column">
            <textarea type="text" name="content" [(ngModel)]="reply.content" placeholder="{{reply?.content}}" class="col-7"></textarea>
            <button class="btn btn-success ml-2 col-2" type="submit" [disabled]="!editForm?.dirty">Edytuj komentarz</button>
        </form>
    </div>
</div>

<div *ngIf="ifReply">
    <form [formGroup]='replyForm' (ngSubmit)="replyForm?.valid && replyComment()" id="replyForm" class="text-center column mb-2">
        <div>
            <textarea type="text" [formControl]='replyForm?.controls["content"]' placeholder="Wpisz treść komentarza" class="col-7 mr-1"></textarea>
            <label class="custom-file-upload" *ngIf="checkIfUserWorthy(mainMemes)">
                <input type="file" ng2FileSelect [uploader]="uploader" (change)="fileChangeEvent($event)" class="text-center" title="Wybierz"/>
                <i class="fa fa-paperclip"></i>
            </label>
            <button class="btn btn-success ml-2 col-2" type="submit" [disabled]="!replyForm?.valid">Dodaj komentarz</button>
        </div>
        <div *ngIf="replyForm?.controls['content']?.errors?.maxlength" class="text-danger">
            Komentarz zbyt długi
        </div>
    </form>
</div>

<div *ngIf="replyQuote">
    <form [formGroup]='replyForm' (ngSubmit)="replyForm?.valid && replyComment()" class="text-center column mb-3">
        <div>
            <textarea type="text" [formControl]='replyForm?.controls["content"]' placeholder="Wpisz treść komentarza" class="col-7"></textarea>
            <button class="btn btn-success ml-2 col-2" type="submit" [disabled]="!replyForm?.valid">Dodaj komentarz</button>
        </div>
        <div *ngIf="replyForm?.controls['content']?.errors?.maxlength" class="text-danger">
            Komentarz zbyt długi
        </div>
    </form>
</div>