<div id="reply" class="mb-3" *ngIf="(accountService.currentUser$ | async) !== null">
    <table class="table">
        <td style="width: 10%"><img src="{{url || '././assets/LogoImage.png'}}" alt=""></td> <!-- zjebane zdjęcie, do poprawy ale nie dzisiaj -->
        <td style="width: 5%;"><a routerLink='/members/{{reply.username}}'>{{reply.username}}</a></td>
        <td id="timeago" style="width: 15%;">{{reply.uploaded | timeago}}</td>
        <td id="freespace" style="width: 49%;"></td>
        <td style="width: 3%;"><button id="like" [disabled]="disliked" (click)="addLike(reply)"><i class="fa fa-plus" [ngStyle]="!liked ? { 'color': 'white' } : { 'color': 'green' }"></i></button></td>
        <td style="width: 3%;">{{reply.numberOfLikes}}</td>
        <td style="width: 3%;"><button id="like" [disabled]="liked" (click)="addDislike(reply)"><i class="fa fa-minus" [ngStyle]="!disliked ? { 'color': 'white' } : { 'color': 'red' }"></i></button></td>
        <td id="buttons" style="width: 12%">
            <span *ngIf="reply.username === user.username && reply.content !== '[Komentarz został usunięty]'" (click)="editReplyToggle(comment.id)"><i id="edit" class="fa fa-pencil-square-o" aria-hidden="true"> Edytuj</i></span>
            <span *ngIf="reply.username === user.username && reply.content !== '[Komentarz został usunięty]'" (click)="removeReply(reply.id) && reloadComments(comment)"><i id="delete" class="fa fa-trash" aria-hidden="true"> Usuń</i></span>
            <a routerLink='/memes/{{reply?.memeId}}/..'><i id="goTo" class="fa fa-share" aria-hidden="true"> Idź do</i></a>
        </td>
    </table>
    <div class="text-left" id="content" style="padding: 10px; margin-left: 50px !important;">                    
        <span class="mb-3" *ngIf="reply.content !== '[Komentarz został usunięty]'" style="color: black;">
        @{{reply.replyingToUser}}
        </span>
        <div *ngIf="reply.quote !== null && reply.content !== '[Komentarz został usunięty]'" id="quote" class="text-center mb-3">
            "{{reply.quote}}"
        </div>
        <div>
            {{reply.content}}
        </div>
    </div>
    <div id="image" class="text-center mb-3" *ngIf="reply.url !== null">
        <img src="{{reply.url}}" alt="">
    </div>
    <div class="text-left">
        <i class="fa fa-reply ml-3 mb-1" *ngIf="!replyQuote" (click)="addReply()"> Odpowiedz</i>
        <i class="fa fa-quote-left ml-3 mb-1" *ngIf="!ifReply && reply.content !== '[Komentarz został usunięty]'" (click)="addQuotedReply()"> Zacytuj</i>
    </div>
</div>

<div *ngIf="commentUpdate">
    <div class="text-center mt-2 mb-3" id="editForm">
        <form #editForm="ngForm" (ngSubmit)="editReply()" class="text-center column">
            <textarea type="text" name="content" [(ngModel)]="reply.content" placeholder="{{reply.content}}" class="col-7"></textarea>
            <button class="btn btn-success ml-2 col-2" type="submit" [disabled]="!editForm?.dirty">Edytuj komentarz</button>
        </form>
    </div>
</div>

<div *ngIf="ifReply">
    <form [formGroup]='replyForm' (ngSubmit)="replyForm?.valid && replyComment()" id="replyForm" class="text-center column mb-2">
        <div>
            <textarea type="text" [formControl]='replyForm?.controls["content"]' placeholder="Wpisz treść komentarza" class="col-7 mr-1"></textarea>
            <label class="custom-file-upload" *ngIf="checkIfUserWorthy(mainMemes)">
                <input type="file" ng2FileSelect [uploader]="uploader" (change)="fileChangeEvent($event)" class="text-center" title="Wybierz"/>
                <i class="fa fa-paperclip"></i>
            </label>
            <button class="btn btn-success ml-2 col-2" type="submit" [disabled]="!replyForm?.valid">Dodaj komentarz</button>
        </div>
        <div *ngIf="replyForm?.controls['content']?.errors?.maxlength" class="text-danger">
            Komentarz zbyt długi
        </div>
    </form>
</div>

<div *ngIf="replyQuote">
    <form [formGroup]='replyForm' (ngSubmit)="replyForm?.valid && replyComment()" class="text-center column mb-3 ml-5">
        <div>
            <textarea type="text" [formControl]='replyForm?.controls["content"]' placeholder="Wpisz treść komentarza" class="col-7"></textarea>
            <button class="btn btn-success ml-2 col-2" type="submit" [disabled]="!replyForm?.valid">Dodaj komentarz</button>
        </div>
        <div *ngIf="replyForm?.controls['content']?.errors?.maxlength" class="text-danger">
            Komentarz zbyt długi
        </div>
    </form>
</div>