<form [formGroup]='registerForm' (ngSubmit)="registerForm.valid && register()" *ngIf="!registrationComplete" autocomplete="off">
    <h2 class="text-center text-primary">Sign up</h2>
    <hr>

    <div class="form-group text-center">
        <label class="control-label" style="margin-right: 10px;">Jestem: </label>
        <select formControlName='gender' id="gender">
            <option value='male'>Mężczyzną</option>
            <option value='female'>Kobietą</option>
            <option value='other'>Helikopterem bojowym</option>
        </select>
    </div>

    <app-text-input [formControl]='registerForm.controls["email"]' 
    [label]='"Email użytkownika"' autocomplete="off"></app-text-input>
    <app-text-input [formControl]='registerForm.controls["username"]' 
    [label]='"Nazwa użytkownika"' autocomplete="off"></app-text-input>
    <app-date-input [formControl]='registerForm.controls["dateOfBirth"]' 
    [label]='"Data urodzenia"' [maxDate]='maxDate' autocomplete="off"></app-date-input>
    <app-text-input [formControl]='registerForm.controls["password"]' 
        [label]='"Hasło"' [type]='"password"' autocomplete="off"></app-text-input>
    <app-text-input [formControl]='registerForm.controls["confirmPassword"]' 
        [label]='"Potwierdź hasło"' [type]='"password"' autocomplete="off"></app-text-input>
    <input type="checkbox" [formControl]='registerForm.controls["statute"]' id="statute" name="statute" value="true">
    <label for="statute"> Zapoznałem się z <a (click)="openStatuteModal()" id="statuteLink" style="color: rgb(5, 95, 174);">Regulaminem</a></label><br>

        <div class="row" *ngIf="validationErrors.length > 0">
            <ul class="text-danger">
                <li *ngFor="let error of validationErrors">
                    {{error}}
                </li>
            </ul>
        </div>

    <div class="form-group text-center">
        <button [disabled]='!registerForm.valid' class="btn btn-success mr-2" type="submit">Register</button>
        <button class="btn btn-default mr-2" (click)="cancel()" type="button">Cancel</button>
    </div>
    <hr>
</form>