form {
    margin-top: 100px;
    margin-bottom: -100px;
}

hr {
    border-color: whitesmoke !important;
    margin-bottom: 20px;
}

#statuteLink:hover {
    color: rgb(55, 0, 253);
    cursor: pointer;
    text-decoration: underline;
}