img {
    max-height: 20px;
}

button {
    border: 1px solid whitesmoke;
    background-color: rgb(121, 56, 56);
}

@media screen and (max-width: 800px) {
    #random {
        margin-top: -40px !important;
    }

    button {
        margin-bottom: 40px !important;
    }
}