<div class="modal-header">
    <!-- <h4>{{meme.title}}</h4> -->
    Zapewnienie
</div>
<div class="modal-body text-center">
    <!-- <div>
        {{meme.description}}
    </div>
    <img src="{{meme.url ? meme.url : onErrorFunction()}}" *ngIf="checkURL(meme.url)" class="mt-3" style="height: 150px;" />

    <video id="preview" src="{{meme.url}}" class="card-img-top" *ngIf="!checkURL(meme.url)" controls></video> -->
    Jesteś pewien?
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" (click)='rejectMeme(memeId)'>OK</button>
    <button type="button" class="btn btn-warning" aria-label="Close" (click)="close()">Wyjdź</button>
</div>
