.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}

.navbar-toggler-icon {
  width: 50px;
}

.navbar {
    max-height: 90px !important;
    border-bottom: 1px solid black;
}

a {
  color: white !important;
}

.min-width { 
  overflow-x:auto 
}

ul.nav {
  display:inline-flex;
}

.navbar-brand img {
    max-height: 80px;
    display: inline;
    margin-top: auto;
    margin-bottom: auto;
}

.fa-search:hover {
  cursor: pointer;
}
#forgot:hover {
  color: red !important;
}

li {
  display: inline-block !important;
}

.nav-item {
  text-align: left !important;
  display: inline-block !important;
}

img {
    max-height: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav {
    position: relative;
}

.nav i {
  margin-top: 30px !important;
  margin-left: 80px !important;
}

#toggle {
  margin-top: 30px !important;
  margin-left: 150px !important;
}

.sidemenu-item {
    border: white 1px solid;
    background-color: rgb(48, 47, 47);
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    min-height: 80px;
    cursor: default !important;
}

.sidemenu-item a:hover {
    color: red !important;
}

#dropdownMenu {
    min-width: 250px !important;
    cursor: default !important;
}

form {
    text-align: center;
    display: inline-block;
}

.card-footer {
    background-color: rgb(10, 107, 10);
}

.sidebar {
    position: fixed; /* Stay in place */
    width: 20%;
    min-width: 300px;
    height: 100%;
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    opacity: 0.8;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
    box-shadow: 2px 2px 5px #999;
    transition: 0.5s;
    cursor: default !important;
  }

  .sidebar:hover {
    cursor: default !important;
  }

  .sidebar header {
    font-size: 22px;
    /* margin-top: 420px; */
    color: white;
    line-height: 70px;
    text-align: center;
    background: #063146;
    user-select: none;
  }
  .sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color:whitesmoke;
    box-sizing: border-box;
    transition: .4s;
  }
  .sidebar ul li:hover a{
    padding-left: 50px;
  }
  .sidebar ul a i{
    margin-right: 16px;
  }

  .slideIn {
    animation: slideMe .7s ease-in;
  }

  .slideOut {
    animation: slideOut .7s ease-out;
  }

  @keyframes slideMe {
    0% {
        transform: translateX(400px);
    }
  }

  @keyframes slideOut {
    100% {
        transform: translateX(400px);
    }
  }

/* The sidebar links */
.sidebar a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    cursor: pointer;
    }
    
    /* When you mouse over the navigation links, change their color */
    .sidebar a:hover {
    color: #f1f1f1;
    }
    
    /* Position and style the close button (top right corner) */
    .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    }
  
  /* boton de cierre */

  #division a {
    font-size: 12px !important;
  }
  
  #menu {
    position: absolute;
    background-color: tomato;
    width: 40px;
    height:40px;
    right: 0;
    top: 0;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 0px solid #000000;
  }

  .navbar-toggler-icon:hover {
      cursor: pointer;
      color: black;
  }

  .navbar-toggler-icon:after {
      color: hotpink !important;
  }

  ul {
    list-style-type: none !important;
  }

  .division a:hover {
    color: red !important;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

@media screen and (max-width: 1000px) {

  .navbar-brand img {
    max-height: 60px;
    display: inline;
    margin-top: auto;
    margin-bottom: auto;
  }
}

@media screen and (max-width: 700px) {

    .navbar {
        min-height: 100px !important;
        max-height: 100px !important;
        font-size: 10px;
    }

    .sidebar {
      width: 100%;
      min-width: 300px;
      height: 100%;
      z-index: 1; /* Stay on top */
      top: 0;
      right: 0;
      opacity: 1 !important;
      background-color: #111; /* Black*/
      overflow-x: hidden; /* Disable horizontal scroll */
      padding-top: 20px; /* Place content 60px from the top */
      transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
      box-shadow: 2px 2px 5px #999;
      transition: 0.5s;
    }

    .sidebar-mini {
      visibility: hidden;
    }

    .nav-item {
        text-align: left !important;
        display: inline-block !important;
    }

    li {
      display: inline !important;
    }
  }

  #unread {
    background-color: red;
    color: white;
    padding: 3px;
    text-align: center;
    font: sans-serif;
  }

  @media screen and (max-width: 1200px) {
    #toggle {
      font-size: 22px;
    }

    #toggleClose {
      font-size: 22px;
    }

    #toggle {
      margin-left: -20px !important;
    }
  }

  @media screen and (max-width: 800px) {
    .navbar-toggler-icon {
      margin-left: 100px !important;
    }
  }

  @media screen and (max-width: 700px) {
    #toggle {
      font-size: 25px;
    }

    #toggleClose {
      font-size: 25px;
      margin-left: -100px !important;
    }

    .nav i {
      font-size: 20px;
      margin-top: 5px;
    }

    #division {
      font-size: 15px !important;
    }

    input {
      min-width: 200px;
    }

    .btn {
      min-width: 80px;
    }

    /* li {
      width: 40px !important;
    }

    #messages {
      width: 50px !important;
    } */
  }

  @media screen and (max-width: 800px) {
    .nav i {
      margin-top: 20px !important;
      margin-left: 10px !important;
    }

    #toggle {
      margin-top: 15px !important;
      margin-left: -100px !important;
    }

    #profile {
      margin-left: 40px !important;
    }
  }


