<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-primary">
    <div class="container">
        <a class="navbar-brand" routerLink='/' routerLinkActive='active'>Memesy</a>
        <button       
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="collapsed = !this.collapsed"
        >
            <span class="navbar-toggler-icon" ngToggler></span>
          </button>

          <div class="collapse navbar-collapse text-center" id="navbarSupportedContent" [ngClass]="{ collapse: collapsed, 'navbar-collapse': true }">
            <ul class="navbar-nav mr-auto">
                <ng-container *ngIf="accountService.currentUser$ | async">
                    <li class="nav-item">
                        <a class="nav-link" routerLink='/members' routerLinkActive='active' >Matches</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink='/lists' routerLinkActive='active'>Lists</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink='/messages'routerLinkActive='active' >Messages</a>
                    </li>
                    <li *appHasRole='["Admin", "Moderator"]' class="nav-item">
                        <a class="nav-link" routerLink='/admin'routerLinkActive='active' >Admin</a>
                    </li>
                </ng-container>
                <li class="nav-item">
                    <a class="nav-link" routerLink='/errors'routerLinkActive='active' >Errors</a>
                </li>
            </ul>
        </div>

        <div class="dropdown text-center" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
            <img src="{{user.photoUrl || './assets/user.png'}}" alt="{{user.username}}">
            <a class="dropdown-toggle text-light ml-2" dropdownToggle>Witaj {{user.knownAs || user.username | titlecase}}</a>
            <div class="dropdown-menu mt-3" *dropdownMenu>
                <a routerLink='/member/edit' class="dropdown-item">Mój Profil</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="logout()" >Wyloguj</a>
            </div>
        </div>

        <div class="dropdown" *ngIf="(accountService.currentUser$ | async) === null" ngbDropdown>
            <a class="dropdown-toggle text-light ml-5" ngbDropdownToggle>Witamy</a>
            <div class="dropdown-menu mt-3 text-center" id="dropdownMenu" ngbDropdownMenu>
                <p>Załóż konto</p>
                <button class="dropdown-item" (click)="registerToggle()" id="register" class="btn btn-primary btn-lg mr-2" style="align-items: center;">Rejestracja</button>
                <div class="dropdown-divider"></div>
                    <p>Lub</p>
                <div class="dropdown-divider"></div>
                <p>Zaloguj się, jeśli posiadasz już konto</p>
                <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm" class="form-inline mt-2 mt-md-0 align-center" (ngSubmit)="login() && 
                cancelRegisterMode($event)" 
                autocomplete="off">
                <input 
                    name="email"
                    [(ngModel)]="model.email"
                    class="form-control mr-sm-2" 
                    type="text" 
                    placeholder="Email">
                <input 
                    name="password"
                    [(ngModel)]="model.password"
                    class="form-control mr-sm-2 mt-2 mb-2" 
                    type="password" 
                    placeholder="Password">
                <button class="btn btn-success my-2 my-sm-0 mt-2" type="submit">Zaloguj</button>
            </form>
            </div>
        </div>
    </div>
</nav>

<div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
        </div>
    </div>
</div>
