<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-2 col-lg-3">
                <a class="navbar-brand" routerLink='/' routerLinkActive='active' (click)="registerMode = false" style="float: left !important;">
                    <!-- <img src="https://memegenerator.net/img/images/14687350.jpg" class="mr-3">Memesy -->
                    <div *ngIf="innerWidth >= 768">
                        <source media="(max-width: 799px)" srcset="././assets/LogoImage.png">
                        <source media="(min-width: 800px)" srcset="././assets/logo (gimp - new).png">
                        <img src="././assets/logo (gimp - new).png" alt="Main logo">
                    </div>
                    <div *ngIf="innerWidth < 768">
                        <img src="././assets/LogoImage.png" alt="Main logo">
                    </div>
                </a>
            </div>

            <div class="col col-lg-2"></div>
            
            <div class="col-8 col-lg-6 text-right" id="icons">
                <ng-container *ngIf="accountService.currentUser$ | async" style="margin-top: 50px !important;">
                    <ul class="nav text-right">
                        <li style="width: 60px" title="Użytkownicy"><a class="nav-link" routerLink='/uzytkownicy' (click)="temporarySolution()" routerLinkActive='active'><i class="fa fa-user" [ngStyle]="router.url.includes('uzytkownicy') ? { 'color': 'yellow' } : { 'color': 'white' }"></i></a></li>
                        <!-- <li style="width: 60px" title="Polubienia"><a class="nav-link" routerLink='/lists' routerLinkActive='active'><i class="fa fa-thumbs-up"></i></a></li> -->
                        <li style="width: 60px" *ngIf="(accountService.currentUser$ | async) || (accountService.currentUser$ | async) === null" (click)="temporarySolution()" title="Szukaj memów"><a class="nav-link" routerLink='szukaj/memes' routerLinkActive='active'><i class="fa fa-search" [ngStyle]="router.url.includes('szukaj') ? { 'color': 'yellow' } : { 'color': 'white' }"></i></a></li>
                        <li id="messages" style="width: 60px" title="Wiadomości"><a class="nav-link" routerLink='/wiadomosci' (click)="temporarySolution()" routerLinkActive='active'><i class="fa fa-envelope" [ngStyle]="messages?.length > 0 ? { 'color': 'red' } : { 'color': 'white' } && router.url.includes('wiadomosci') ? { 'color': 'yellow' } : { 'color': 'white' }"><span class="ml-1" *ngIf="messages?.length > 0" id="unread">{{messages?.length}}</span></i></a></li>
                        <li id="messages" style="width: 60px" title="Powiadomienia"><a class="nav-link" style="cursor: pointer;" (click)="openNotificationsModal(user.username)" routerLinkActive='active'><i class="fa fa-bell" [ngStyle]="notifications?.length > 0 ? { 'color': 'red' } : { 'color': 'white' }"><span class="ml-1" *ngIf="notifications?.length > 0" id="unread">{{notifications?.length}}</span></i></a></li>
                    </ul>
                </ng-container>
            </div>
            <div class="col-1 col-lg-1">
                <div id="toggle">
                    <i class="navbar-toggler-icon text-center" (click)="displayNavbar()" *ngIf="display" style="width: 50px !important;"></i>
                </div>
            </div>
        </div>


        <div class="sidebar sidebar-mini text-center" [ngStyle]="!display ? {'animation': 'slideMe 0.7s ease-in', 'visibility': 'visible', 'opacity': '0.8','cursor': 'pointer'} : {'animation': 'slideOut 0.7s ease-out', 'opacity': '0', 'cursor': 'default'}">
            <div id="toggleClose">
                <i class="navbar-toggler-icon text-center mb-3" (click)="closeNavbar()"></i>
            </div>
            <section>
              <header>
                <div *ngIf="(accountService.currentUser$ | async) as user">
                    <img src="{{user.photoUrl || '././assets/LogoImage.png'}}" alt="{{user.username}}" class="mr-2">
                    {{user.knownAs || user.username}}
                </div>
              </header>
          
              <div class="text-center" id="user-brand" *ngIf="(accountService.currentUser$ | async) as user">

                <div id="refresh" class="mt-3">
                    <i class="fa fa-envelope mr-2"></i><i class="fa fa-refresh mr-3" style="color: rgb(22, 185, 22);" (click)="getUnreadMessages(user.username)"></i>
                    <i class="fa fa-bell mr-2"></i><i class="fa fa-refresh" style="color: rgb(22, 84, 185);" (click)="getUnreadNotifications(user.username)"></i>
                </div>
                <div class="mt-3">
                    <button class="sidemenu-item col-8" [ngStyle]="!display ? { 'cursor': 'default' } : { 'cursor': 'default', 'opacity': '0', 'transition': '0.5s' }">
                        <a id="profile" [routerLink]="display ? [''] : ['/uzytkownik/edycja']" [ngStyle]="!display ? { 'cursor': 'pointer' } : { 'cursor': 'default'}" (click)="displayNavbar()" style="color: white;" >
                            <i class="fa fa-user mr-2"></i>Mój Profil
                        </a>
                    </button>
                    <button class="sidemenu-item col-8" [ngStyle]="!display ? { 'cursor': 'default' } : { 'cursor': 'default', 'opacity': '0', 'transition': '0.5s' }">
                        <a [routerLink]="display ? [''] : ['/poczekalnia']" [ngStyle]="!display ? { 'cursor': 'pointer' } : { 'cursor': 'default', 'opacity': '0' }" (click)="displayNavbar()" style="color: white;">
                            <i class="fa fa-clock-o mr-2"></i>Poczekalnia
                        </a>
                    </button>
                    <button class="sidemenu-item col-8" [ngStyle]="!display ? { 'cursor': 'default' } : { 'cursor': 'default', 'opacity': '0', 'transition': '0.5s' }">
                        <a [routerLink]="display ? [''] : ['/ulubione']" [ngStyle]="!display ? { 'cursor': 'pointer' } : { 'cursor': 'default', 'opacity': '0' }" (click)="displayNavbar()" style="color: white;">
                            <i class="fa fa-star mr-2"></i>Ulubione
                        </a>
                    </button>
                    <button *appHasRole='["Admin", "Moderator"]' class="nav-item" style="background-color: black;" class="sidemenu-item col-8" [ngStyle]="!display ? { 'cursor': 'default' } : { 'cursor': 'default', 'opacity': '0', 'transition': '0.5s' }">
                        <a [routerLink]="display ? [''] : ['/admin']" [ngStyle]="!display ? { 'cursor': 'pointer' } : { 'cursor': 'default'}" (click)="displayNavbar()" style="color: white;">
                            <i class="fa fa fa-lock mr-2"></i>Admin
                        </a>
                    </button>
                    <button *appHasRole='["Admin", "Moderator"]' class="nav-item" style="background-color: black;" class="sidemenu-item col-8" [ngStyle]="!display ? { 'cursor': 'default' } : { 'cursor': 'default', 'opacity': '0', 'transition': '0.5s' }">
                        <a [routerLink]="display ? [''] : ['/errors']" [ngStyle]="!display ? { 'cursor': 'pointer' } : { 'cursor': 'default'}" (click)="displayNavbar()" style="color: white;">
                            <i class="fa fa-exclamation-triangle mr-2"></i>Errors
                        </a>
                    </button>
                    <button class="sidemenu-item col-8" [ngStyle]="!display ? { 'cursor': 'default' } : { 'cursor': 'default', 'opacity': '0', 'transition': '0.5s' }" [disabled]="!display">
                        <a [ngStyle]="!display ? { 'cursor': 'pointer' } : { 'cursor': 'default'}" (click)="logout()" style="color: white;" [disabled]="!display">
                            <i class="fa fa-sign-out mr-2"></i>Wyloguj
                        </a>
                    </button>
                    <br />
                    <br />
                    <h2>Działy:</h2>
                    <div class="mt-2 mb-2" style="color: rgb(49, 247, 49)" id="division">Otwarte</div>
                    <div *ngFor="let division of divisions" class="text-center mt-1 division">
                        <span *ngIf="division.isCloseDivision === false">
                            <a routerLink="kategoria/{{replaceTitle(division.name)}}" (click)="reloadCurrentPage()" style="font-size: 14px !important;">{{division.name}}</a>
                        </span>
                    </div>
                    <div class="mt-2 mb-2" style="color: rgb(255, 55, 55)" id="division">Zamknięte</div>
                    <div *ngFor="let division of divisions" class="text-center mt-1 division">
                        <span *ngIf="division.isCloseDivision === true">
                            <a routerLink="kategoria/{{replaceTitle(division.name)}}" (click)="reloadCurrentPage()" style="font-size: 14px !important;">{{division.name}}</a>
                        </span>
                    </div>
                </div>
            </div>

            <div id="profile-brand" *ngIf="(accountService.currentUser$ | async) === null">
                    <p>Załóż konto</p>
                    <button class="dropdown-item" (click)="registerToggle()" id="register" class="btn btn-primary btn-lg mr-2 mb-3" style="align-items: center;">Rejestracja</button>
                    <div class="dropdown-divider"></div>
                    <br>
                        <p>Lub</p>
                    <div class="dropdown-divider"></div>
                    <p>Zaloguj się, jeśli posiadasz już konto</p>
                    <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm" class="mt-2 mt-md-0 align-center" (ngSubmit)="login() && 
                    cancelRegisterMode($event)"
                    autocomplete="off">
                    <input 
                        name="email"
                        [(ngModel)]="model.email"
                        class="form-control mr-sm-2 col-sm-12 col-9" 
                        type="text" 
                        placeholder="Email">
                    <input 
                        name="password"
                        [(ngModel)]="model.password"
                        class="form-control mr-sm-2 mt-2 mb-2 col-sm-12 col-9" 
                        type="password" 
                        placeholder="Password">
                    <button class="btn btn-success my-2 my-sm-0 mt-2 col-4" type="submit" style="display: block; margin-left: auto; margin-right: auto;">Zaloguj</button>
                    </form>
                    <br><br>
                    <div class="card-footer mt-3">        
                        <a routerLink='/zapomnialem-hasla' routerLinkActive='active' id="forgot" (click)="displayNavbar()" style="color: yellow;">Zapomniałem hasła</a>
                    </div>
                    <br />
                    <button class="sidemenu-item col-8" [ngStyle]="!display ? { 'cursor': 'default' } : { 'cursor': 'default'}">
                        <a [routerLink]="display ? [''] : ['/poczekalnia']" [ngStyle]="!display ? { 'cursor': 'pointer' } : { 'cursor': 'default'}" (click)="displayNavbar()" style="color: white;">
                            <i class="fa fa-clock-o mr-2"></i>Poczekalnia
                        </a>
                    </button>
                    <button class="sidemenu-item col-8" [ngStyle]="!display ? { 'cursor': 'default' } : { 'cursor': 'default'}">
                        <a [routerLink]="display ? [''] : ['/szukaj/memes']" [ngStyle]="!display ? { 'cursor': 'pointer' } : { 'cursor': 'default'}" (click)="displayNavbar()" style="color: white;">
                            <i class="fa fa-search mr-2"></i>Szukaj
                        </a>
                    </button>
                    <br />
                    <br />
                    <h2>Działy:</h2>
                    <span style="color: rgb(49, 247, 49)" id="division">Otwarte</span>
                    <div *ngFor="let division of divisions" class="text-center mt-1 division">
                        <span *ngIf="division.isCloseDivision === false">
                            <a routerLink="kategoria/{{replaceTitle(division.name)}}" (click)="reloadCurrentPage()" style="font-size: 14px !important;">{{division.name}}</a>
                        </span>
                    </div>
            </div>

            </section>

          </div>

    </div>
</nav>

<div *ngIf="registerMode" class="container">
    <div class="row justify-content-center" #scrollMe
    [scrollTop]="scrolltop">
        <div class="col-10 col-xl-4">
            <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
        </div>
    </div>
</div>