<script src="angular-pageslide.js"></script>
<script src="script.js"></script>

<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-primary">
    <div class="container">
        <a class="navbar-brand" routerLink='/' routerLinkActive='active'>
            <!-- <img src="https://memegenerator.net/img/images/14687350.jpg" class="mr-3">Memesy -->
            <div *ngIf="innerWidth >= 768">
                <source media="(max-width: 799px)" srcset="././assets/LogoImage.png">
                <source media="(min-width: 800px)" srcset="././assets/logo (gimp - new).png">
                <img src="././assets/logo (gimp - new).png" alt="Main logo">
            </div>
            <div *ngIf="innerWidth < 768">
                <img src="././assets/LogoImage.png" alt="Main logo">
            </div>
        </a>

        <ng-container *ngIf="accountService.currentUser$ | async" style="float: right !important;">
            <ul class="nav">
                <li style="width: 60px" title="Użytkownicy"><a class="nav-link" routerLink='/uzytkownicy' routerLinkActive='active'><i class="fa fa-user"></i></a></li>
                <!-- <li style="width: 60px" title="Polubienia"><a class="nav-link" routerLink='/lists' routerLinkActive='active'><i class="fa fa-thumbs-up"></i></a></li> -->
                <li style="width: 60px" *ngIf="(accountService.currentUser$ | async) || (accountService.currentUser$ | async) === null" title="Szukaj memów"><a class="nav-link" routerLink='szukaj/memes' routerLinkActive='active'><i class="fa fa-search"></i></a></li>
                <li id="messages" style="width: 60px" title="Wiadomości"><a class="nav-link" routerLink='/wiadomosci'routerLinkActive='active'><i class="fa fa-envelope" [ngStyle]="unreadMessages > 0 ? { 'color': 'red' } : { 'color': 'white' }"><span class="ml-1" *ngIf="unreadMessages > 0" id="unread">{{unreadMessages}}</span></i></a></li>
                <li id="messages" style="width: 60px" title="Powiadomienia"><a class="nav-link" style="cursor: pointer;" (click)="openNotificationsModal(user.username)" routerLinkActive='active'><i class="fa fa-bell" [ngStyle]="notifications?.length > 0 ? { 'color': 'red' } : { 'color': 'white' }"><span class="ml-1" *ngIf="notifications?.length > 0" id="unread">{{notifications?.length}}</span></i></a></li>
                <li *appHasRole='["Admin", "Moderator"]' class="nav-item" style="width: 60px">
                    <a class="nav-link" routerLink='/admin' routerLinkActive='active'><i class="fa fa-lock"></i></a>
                </li>
                <li *appHasRole='["Admin", "Moderator"]' class="nav-item" style="width: 60px">
                    <a class="nav-link" routerLink='/errors' routerLinkActive='active' ><i class="fa fa-exclamation-triangle"></i></a>
                </li>
            </ul>
        </ng-container>


        <!-- </div> -->
        <div id="toggle">
            <i class="navbar-toggler-icon mr-5 text-center" (click)="displayNavbar()" *ngIf="display"></i>
        </div>

        <div class="sidebar sidebar-mini text-center" [ngStyle]="!display ? {'animation': 'slideMe 0.7s ease-in', 'visibility': 'visible', 'opacity': '0.8','cursor': 'pointer'} : {'animation': 'slideOut 0.7s ease-out', 'opacity': '0', 'cursor': 'default'}">
            <div id="toggle">
                <i class="navbar-toggler-icon text-center mb-3" (click)="closeNavbar()"></i>
            </div>
            <section>
              <header>
                <div *ngIf="(accountService.currentUser$ | async) as user">
                    <img src="{{user.photoUrl || '././assets/LogoImage.png'}}" alt="{{user.username}}" class="mr-2">
                    {{user.knownAs || user.username | titlecase}}
                </div>
              </header>
          
              <div class="text-center" id="user-brand" *ngIf="(accountService.currentUser$ | async) as user">

                <div class="mt-3">
                    <button class="sidemenu-item col-8" [ngStyle]="!display ? { 'cursor': 'default' } : { 'cursor': 'default'}">
                        <a [routerLink]="display ? [''] : ['/uzytkownik/edycja']" [ngStyle]="!display ? { 'cursor': 'pointer' } : { 'cursor': 'default'}" (click)="displayNavbar()" style="color: white;" >
                            <i class="fa fa-user mr-2"></i>Mój Profil
                        </a>
                    </button>
                    <button class="sidemenu-item col-8" [ngStyle]="!display ? { 'cursor': 'default' } : { 'cursor': 'default'}">
                        <a [routerLink]="display ? [''] : ['/poczekalnia']" [ngStyle]="!display ? { 'cursor': 'pointer' } : { 'cursor': 'default'}" (click)="displayNavbar()" style="color: white;">
                            <i class="fa fa-clock-o mr-2"></i>Poczekalnia
                        </a>
                    </button>
                    <button class="sidemenu-item col-8" [ngStyle]="!display ? { 'cursor': 'default' } : { 'cursor': 'default'}">
                        <a [routerLink]="display ? [''] : ['/ulubione']" [ngStyle]="!display ? { 'cursor': 'pointer' } : { 'cursor': 'default'}" (click)="displayNavbar()" style="color: white;">
                            <i class="fa fa-star mr-2"></i>Ulubione
                        </a>
                    </button>
                    <button class="sidemenu-item col-8" [ngStyle]="!display ? { 'cursor': 'default' } : { 'cursor': 'default'}" [disabled]="!display">
                        <a [ngStyle]="!display ? { 'cursor': 'pointer' } : { 'cursor': 'default'}" (click)="logout()" style="color: white;" [disabled]="!display">
                            <i class="fa fa-sign-out mr-2"></i>Wyloguj
                        </a>
                    </button>
                    <br />
                    <br />
                    <h2>Działy:</h2>
                    <span style="color: rgb(49, 247, 49)" id="division">Otwarte</span>
                    <div *ngFor="let division of divisions" class="text-center mt-1 division">
                        <span *ngIf="division.isCloseDivision === false">
                            <a routerLink="kategoria/{{replaceTitle(division.name)}}" (click)="reloadCurrentPage()" style="font-size: 14px !important;">{{division.name}}</a>
                        </span>
                    </div>
                    <span style="color: rgb(255, 55, 55)" id="division">Zamknięte</span>
                    <div *ngFor="let division of divisions" class="text-center mt-1 division">
                        <span *ngIf="division.isCloseDivision === true">
                            <a routerLink="kategoria/{{replaceTitle(division.name)}}" (click)="reloadCurrentPage()" style="font-size: 14px !important;">{{division.name}}</a>
                        </span>
                    </div>
                </div>
            </div>

            <div id="profile-brand" *ngIf="(accountService.currentUser$ | async) === null">
                    <p>Załóż konto</p>
                    <button class="dropdown-item" (click)="registerToggle()" id="register" class="btn btn-primary btn-lg mr-2 mb-3" style="align-items: center;">Rejestracja</button>
                    <div class="dropdown-divider"></div>
                    <br>
                        <p>Lub</p>
                    <div class="dropdown-divider"></div>
                    <p>Zaloguj się, jeśli posiadasz już konto</p>
                    <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm" class="mt-2 mt-md-0 align-center" (ngSubmit)="login() && 
                    cancelRegisterMode($event)"
                    autocomplete="off">
                    <input 
                        name="email"
                        [(ngModel)]="model.email"
                        class="form-control mr-sm-2 col-sm-12 col-9" 
                        type="text" 
                        placeholder="Email">
                    <input 
                        name="password"
                        [(ngModel)]="model.password"
                        class="form-control mr-sm-2 mt-2 mb-2 col-sm-12 col-9" 
                        type="password" 
                        placeholder="Password">
                    <button class="btn btn-success my-2 my-sm-0 mt-2 col-4" type="submit" style="display: block; margin-left: auto; margin-right: auto;">Zaloguj</button>
                    </form>
                    <br><br>
                    <div class="card-footer mt-3">        
                        <a routerLink='/zapomnialem-hasla' routerLinkActive='active' id="forgot" (click)="displayNavbar()" style="color: yellow;">Zapomniałem hasła</a>
                    </div>
                    <br />
                    <button class="sidemenu-item col-8" [ngStyle]="!display ? { 'cursor': 'default' } : { 'cursor': 'default'}">
                        <a [routerLink]="display ? [''] : ['/poczekalnia']" [ngStyle]="!display ? { 'cursor': 'pointer' } : { 'cursor': 'default'}" (click)="displayNavbar()" style="color: white;">
                            <i class="fa fa-clock-o mr-2"></i>Poczekalnia
                        </a>
                    </button>
                    <br />
                    <br />
                    <h2>Działy:</h2>
                    <span style="color: rgb(49, 247, 49)" id="division">Otwarte</span>
                    <div *ngFor="let division of divisions" class="text-center mt-1 division">
                        <span *ngIf="division.isCloseDivision === false">
                            <a routerLink="kategoria/{{replaceTitle(division.name)}}" (click)="reloadCurrentPage()" style="font-size: 14px !important;">{{division.name}}</a>
                        </span>
                    </div>
            </div>

            </section>

          </div>

    </div>
</nav>

<div *ngIf="registerMode" class="container">
    <div class="row justify-content-center" #scrollMe
    [scrollTop]="scrolltop">
        <div class="col-4">
            <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
        </div>
    </div>
</div>