<div class="mt-3">
    {{divisionName | titlecase}} <span  *ngIf="pageNumber !== 0"> > Strona {{pageNumber}}</span>
</div>

<div *ngFor="let meme of memes" class="mb-2">
    <app-meme-card [meme]="meme"></app-meme-card>
    <div *appHasRole='["Admin", "Moderator"]' id="admin" class="text-center">
        <div style="margin-bottom: 20px !important;">
            <span id="division" *ngIf="division !== null && meme.division !== 0" [ngStyle]="division?.isCloseDivision ? { 'color': 'red' } : { 'color': 'green' }" (click)="openDivisionModal(meme)" style="cursor: pointer;">{{division?.name}}</span>
            <span id="division" *ngIf="!meme.isMain && division === null || !meme.isMain && meme.division === 0" (click)="openDivisionModal(meme)" style="cursor: pointer; font-size: 12px;">Poczekalnia</span>
            <span id="division" *ngIf="division === null && meme.isMain || meme.division === 0 && meme.isMain" (click)="openDivisionModal(meme)" style="cursor: pointer; font-size: 12px;">Główna</span>
        </div>
        <button class="btn btn-warning mr-2" *ngIf="meme.isMain" id="reject" (click)='disapproveMeme(meme.id)'><i class="fa fa fa-arrow-circle-left"></i> Cofnij</button>
        <button class="btn btn-danger" id="reject" (click)='openDeleteModal(meme.id)'><i class="fa fa-trash"></i> Usuń</button>
        <button class="btn btn-warning ml-2" id="reject" (click)='hideMeme(meme.id)'><i class="fa fa-eye-slash"></i> Hide</button>
    </div>
</div>

<div *ngIf="memes?.length <= 0" class="text-center mt-5 mb-5">
    Brak memów do wyświetlenia
</div>

<div class="mt-5 mb-5">
    <div class="row">
        <div class="col col-md-2"></div>
        <div class="col-11 col-md-8 text-center">
            <button id="previous" [disabled]="pageNumber === 0 || pageNumber === 1" class="btn btn-danger ml-2 mb-3" *ngIf="pageNumber===2" (click)="previousPage()" routerLink="/{{podstrona}}/strona/{{1}}">
                <i class="fa fa-angle-left mr-2"></i>Poprzednia <span id="mobile">strona</span>
            </button>
            <button id="previous" [disabled]="pageNumber === 0 || pageNumber === 1" class="btn btn-danger ml-2 mb-3"  *ngIf="pageNumber!==2" (click)="previousPage()" routerLink="/{{podstrona}}/strona/{{pageNumber - 1}}">
                <i class="fa fa-angle-left mr-2"></i>Poprzednia <span id="mobile">strona</span>
            </button>
            <button id="next" [disabled]="pageNumber + 1 > totalItems / pageSize" class="btn btn-danger ml-2 mb-3" *ngIf="pageNumber===0" (click)="nextPage()" routerLink="/{{podstrona}}/strona/{{2}}">
                Następna <span id="mobile">strona</span><i class="fa fa-angle-right ml-2"></i>
            </button>
            <button id="next" [disabled]="pageNumber + 1 > totalItems / pageSize" class="btn btn-danger ml-2 mb-3" *ngIf="pageNumber!==0" (click)="nextPage()" routerLink="/{{podstrona}}/strona/{{pageNumber + 1}}">
                Następna <span id="mobile">strona</span><i class="fa fa-angle-right ml-2"></i>
            </button>
        </div>
        <div class="col-1 col-md-1"  style="margin-left: -20px !important;">
            <i class="fa fa-angle-down text-right" *ngIf="!morePaginationSettings" (click)="viewMore()"></i>
            <i class="fa fa-angle-up text-right" *ngIf="morePaginationSettings" style="color: green;" (click)="viewMore()"></i>
        </div>
    </div>
</div>

<div *ngIf="morePaginationSettings">
    <div class="d-flex justify-content-center" *ngIf="pagination && memes?.length !== 0">
        <pagination
            [boundaryLinks]="true" 
            [totalItems]="pagination.totalItems"
            [itemsPerPage]="pagination.itemsPerPage"
            [(ngModel)]="pagination.currentPage"
            (pageChanged)="pageChanged($event)"
            routerLink="/{{podstrona}}/strona/{{pageNumber}}"
            previousText="&lsaquo;"
            nextText="&rsaquo;" 
            firstText="&laquo;" 
            lastText="&raquo;">
        </pagination>
    </div>
    
    <!-- https://res.cloudinary.com/duj1ftjtp/image/upload/l_logo_gimp_-_new_ucilaf,o_50,w_200,c_scale,x_850,y_500/hcq1ymvalfdscq1m1i32.jpg -->
    
    <div class="mt-2 text-right" *ngIf="pagination && memes?.length !== 0">
        <span class="mr-2">Page Size</span>
    
        <select (change)="updatePageSize($any($event.target).value)">
            <option selected="true">8</option>
            <option>16</option>
            <option>24</option>
        </select>
    </div>
</div>


