<div *ngIf="pageNumber !== 0">
    Strona {{pageNumber}}
</div>

<div *ngFor="let meme of memes">
    <span *ngIf="!meme.url.includes('youtube')">
        <app-meme-card [meme]="meme"></app-meme-card>
    </span>
    <!-- Temporary solution, won't work after adding a second youtube video -->
    <span *ngIf="meme.url.includes('youtube')">
        <div class="text-center">
            <div class="card mb-4 text-center mt-5">
                <div class="card-img-wrapper">
                    <div class="card-body p-1" style="text-align: center;">
                        <a routerLink="../../memes/{{meme.id}}/{{ convertText(meme.title) || convertText('Jakieś gówno')}}">
                        <h4 class="card-title text-center mb-4 mt-3"> 
                            {{meme.title || 'Jakieś gówno'}}
                        </h4>
                        </a>
                        <p>{{meme.uploaded | timeago}}</p>
                        <span *ngIf="meme.description?.length !== 0">
                            <br>         
                            <div id="description" class="text-center">
                                <p>{{meme.description}}</p>
                            </div>
                            <br>
                        </span>
                        <iframe width="600" height="400" [src]="trustedUrl | safe"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </span>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
    <pagination
        [boundaryLinks]="true" 
        [totalItems]="pagination.totalItems"
        [itemsPerPage]="pagination.itemsPerPage"
        [(ngModel)]="pagination.currentPage"
        (pageChanged)="pageChanged($event)"
        routerLink="/strona/{{pageNumber}}"
        previousText="&lsaquo;" 
        nextText="&rsaquo;" 
        firstText="&laquo;" 
        lastText="&raquo;">
    </pagination>
</div>

<div class="col-md-3 mt-2 justify-content-right" style="text-align: right;">
    <span class="mr-2">Page Size</span>

    <select (change)="updatePageSize($any($event.target).value)">
        <option selected="true">8</option>
        <option>16</option>
        <option>24</option>
    </select>
</div>
