img {
    min-width: 600px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

select {
  background-color: #555;
  color: whitesmoke;
}

pagination {
  bottom: 0;
}

@media screen and (max-width: 700px) {
  img {
    max-width: 400px !important;
  }
}

.card {
  min-height: 600px !important;
}

#reject {
  margin-top: -30px !important;
}