img {
    min-width: 600px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

select {
  background-color: #555;
  color: whitesmoke;
}

pagination {
  bottom: 0;
}

@media screen and (max-width: 700px) {
  img {
    max-width: 400px !important;
  }
}

#admin {
  margin-top: -30px !important;
}

.card {
  min-height: 600px !important;
}

#division {
  padding: 10px;
  border: 1px solid white;
}

#division:hover {
  color: red;
  border: 1px solid yellow;
}

.fa-angle-left, .fa-angle-right {
  font-size: 22px;
}

.fa-angle-down, .fa-angle-up {
  font-size: 24px;
}

.fa-angle-down:hover, .fa-angle-up:hover {
  cursor: pointer;
  color: red;
}

#mobile {
  display: inline;
}

#buttons {
  margin-left: 20px;
}

#next {
  margin-left: 20px;
}

@media screen and (max-width: 800px) {
  #previous, #next {
    font-size: 14px !important;
    min-width: 300px;
  }

  .fa-angle-down, .fa-angle-up {
    margin-left: -20px !important;
  }

  #next {
    margin-left: 0px !important;
  }

  #buttons {
    width: 100%;
    margin-left: 0px !important;
  }

  #mobile {
    display: none;
  }
}