table {
    background-color: rgb(95, 94, 94);
    word-wrap:break-word !important;
}

#comment {
    background-color: rgb(95, 94, 94);
}

i {
    cursor: pointer;
}

i:hover {
    color: red;
}

#like {
    background-color: black !important;
}

img {
    max-height: 50px;
}

span { 
    display:block;
    width:600px;
    word-break:break-all;
    white-space: normal;
}

textarea {
    background-color: gray;
    color: whitesmoke;
}

textarea::placeholder {
    color: white;
}