button {
    border: 1px solid whitesmoke;
    background-color: rgb(121, 56, 56);
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    outline: none;
    transition: 0.2s all;
    min-height: 34px !important;
  }
  
  button:hover {
    background-color: red;
  }
  
  #addMeme:focus {
    background-color: red;
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
  }
  
  img {
    max-height: 20px;
  } 

  #show {
    display: none;
  }
  

  @media screen and (max-width: 700px) {
    .btn {
      font-size: 12px !important;
    }
  }

  @media screen and (max-width: 1000px) {
    #hide {
      display: none;
    }

    #show {
      display: inline !important;
    }
  }

  @media screen and (max-width: 800px) {
    button {
      font-size: 14px !important;
      max-height: 50px !important;
    }

    #addMeme {
      margin-bottom: 10px;
    }

    .container {
      margin-top: -40px;
    }
  }

  #memeContainer {
    width: 100%;
    background-color: black;
    min-height: 1000px;
}

#warning {
    color: red; 
    border: red; 
    margin-top: 50px !important;
    border: 1px solid red;
}

#container {
    background-color: rgb(49, 49, 49) !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}