<div class="container">
    <button id="addMeme" (click)="addMeme()" class="btn col-12 col-lg-3">
        <i class="fa fa-plus mr-1"></i><i class="fa fa-picture-o mr-2"></i>Dodaj memesa <span style="font-weight: bold;">( ͡° ͜ʖ ͡°)</span>
    </button>
    <button routerLink="/memes/losowe/{{id}}" class="btn col-4 col-lg-3">
        <img src="./assets/2048px-2-Dice-Icon.svg.png" alt="" class="mr-1">
        Losowe    
    </button>
    <button class="btn col-4 col-lg-3" routerLink={{link24H}}>        
        <i class="fa fa-calendar mr-1"></i>Ostatnie 24<span id="hide"> godziny</span><span id="show">H</span>
    </button>
    <button class="btn col-4 col-lg-3" routerLink={{link48H}}>
        <i class="fa fa-calendar mr-1"></i>Ostatnie 48<span id="hide"> godzin</span><span id="show">H</span>
    </button>
</div>

<div class="text-center" id="container" *ngIf="(accountService.currentUser$ | async) !== null && addMemeToggle">
    <app-meme-upload></app-meme-upload>
</div>

<div style="margin-bottom: 35px;" *ngIf="(accountService.currentUser$ | async) === null">
</div>

<div class="text-center" [ngStyle]="(accountService.currentUser$ | async) === null ? { 'margin-top': '-20px' } : { 'margin-top': '0px' }">
    <p *ngIf="(accountService.currentUser$ | async) === null && addMemeToggle" id="warning">
        <strong>Zaloguj się lub załóż konto, aby dodać mema</strong>
    </p>
</div>