input[type=text] {
    height: 40px;
    border-radius: 8px;
    background-color: gray;
    margin-left: auto;
    margin-right: auto;
}

::placeholder {
    color: whitesmoke;
}

input {
    color: whitesmoke !important;
}