
<h3>Wiadomości od użytkowników</h3>
<br>
<div class="row">
    <table class="table"
    #scrollMe
    style="overflow-y: auto;"
    [scrollTop]="scrolltop">
        <tr>
            <th style="width: 10%">Avatar</th>
            <th style="width: 10%;">Użytkownik</th>
            <th style="width: 10%;">E-mail</th>
            <th style="width: 15%;">Temat</th>
            <th style="width: 50%;">Wiadomość</th>
            <th style="width: 5%;"></th>
        </tr>
        <tr *ngFor="let message of messages">
            <app-user-card [user]="message.senderName"></app-user-card>
            <td><a routerLink='/members/{{message.senderName}}'>{{message.senderName}}</a></td>
            <td>{{message.senderEmail}}</td>
            <td>{{getSubject(message.subject)}}</td>
            <td>{{message.message}}</td>
            <td><button class="button btn btn-danger" (click)="removeMessage(message.id)">Usuń</button></td>
        </tr>
    </table>
</div>
<br>
<div class="row">
    <div class="col-6">
        <h3>Dodaj dział</h3>
        <form [formGroup]='divisionForm' (ngSubmit)="divisionForm.valid && addDivision()" class="text-center column">
            <div class="mt-2">
                <input type="radio" id="false" name="isCloseDivision" value="0" class="mr-1" formControlName="isCloseDivision" checked>
                <label for="0" class="mr-2">Otwarty</label>
                <input type="radio" id="true" name="isCloseDivision" value="1" formControlName="isCloseDivision" class="mr-1">
                <label for="1" class="mr-2">+18</label>
            </div>
            <div>
                <input type="text" [formControl]='divisionForm.controls["name"]' placeholder="Wpisz nazwę działu" class="col-7" />
                <button class="btn btn-success ml-2 col-3" type="submit" [disabled]="!divisionForm.valid">Dodaj dział</button>
            </div>
            <div *ngIf="divisionForm.controls['name'].errors?.maxlength" class="text-danger">
                Komentarz zbyt długi
            </div>
        </form>
    </div>
    <div class="col-6">
        <h3>Obecne działy</h3>
        <div *ngFor="let division of divisions">
            {{division.name}} | <span *ngIf="division.isCloseDivision === true" style="color: red;">Zamknięty</span><span *ngIf="division.isCloseDivision !== true" style="color: rgb(28, 206, 28);">Otwarty</span>
        </div>
    </div>
</div>


