
<h3>Wiadomości od użytkowników</h3>
<br>
<p class="mb-3">Liczba wiadomości: {{messages?.length}}</p>
<div class="row mb-4" style="border-bottom: 1px solid white">
    <div class="col-3 col-lg-2">Avatar</div>
    <div class="col-3 col-lg-2">Użytkownik</div>
    <div class="col-3 col-lg-2">E-mail</div>
    <div class="col-3 col-lg-2">Temat</div>
    <div id="message" class="col-3 col-lg-2">Wiadomość</div>
    <div class="col-3 col-lg-2"></div>
</div>
<div class="row mb-2 mt-3"
#scrollMe
    style="overflow-y: auto; border-bottom: 1px solid white;"
    [scrollTop]="scrolltop"
    *ngFor="let message of messages"
    >
    <div class="col-3 col-lg-2 mb-2"><app-user-card [user]="message.senderName"></app-user-card></div>
    <div class="col-3 col-lg-2"><a routerLink='/members/{{message.senderName}}'>{{message.senderName}}</a></div>
    <div class="col-3 col-lg-2">{{message.senderEmail}}</div>
    <div class="col-3 col-lg-2">{{getSubject(message.subject)}}</div>
    <div class="col-3 mb-3" id="content">Treść: </div>
    <div class="col-6 col-lg-2 mb-3" id="messageContent">{{message.message}}</div>
    <div class="col-3 col-lg-2"><button class="button btn btn-danger" (click)="removeMessage(message.id)"><i class="fa fa-trash" aria-hidden="true"> Usuń</i></button></div>
</div>
<div class="row"> </div>
<br>
<div class="row">
    <div class="col-12 col-lg-6 mb-3">
        <h3>Dodaj dział</h3>
        <form [formGroup]='divisionForm' (ngSubmit)="divisionForm.valid && addDivision()" class="text-center column">
            <div class="mt-2">
                <input type="radio" id="false" name="isCloseDivision" value=0 class="mr-1" formControlName="isCloseDivision" checked>
                <label for="0" class="mr-2">Otwarty</label>
                <input type="radio" id="true" name="isCloseDivision" value=1 formControlName="isCloseDivision" class="mr-1">
                <label for="1" class="mr-2">+18</label>
            </div>
            <div>
                <input type="text" [formControl]='divisionForm.controls["name"]' placeholder="Wpisz nazwę działu" class="col-7" />
                <button class="btn btn-success ml-2 col-3" type="submit" [disabled]="!divisionForm.valid">Dodaj dział</button>
            </div>
            <div *ngIf="divisionForm.controls['name'].errors?.maxlength" class="text-danger">
                Komentarz zbyt długi
            </div>
        </form>
    </div>
    <div class="col-12 col-lg-6 mb-3">
        <h3>Obecne działy</h3>
        <div *ngFor="let division of divisions">
            {{division.name}} | <span *ngIf="division.isCloseDivision === true" style="color: red;">Zamknięty</span><span *ngIf="division.isCloseDivision !== true" style="color: rgb(28, 206, 28);">Otwarty</span><i class="fa fa-trash ml-3" (click)="removeDivision(division.id)"> Usuń</i>
        </div>
    </div>
</div>


