
<h3 class="mt-2">Wiadomości od użytkowników</h3>
<br>
<p class="mb-3">Liczba wiadomości: {{messages?.length}}</p>
<div class="row mb-2" style="border-bottom: 1px solid white">
    <div class="col-3 col-lg-2">Avatar</div>
    <div class="col-3 col-lg-2">Użytkownik</div>
    <div class="col-3 col-lg-2">E-mail</div>
    <div id="topic" class="col-3 col-lg-2">Temat</div>
    <div id="message" class="col-3 col-lg-2">Wiadomość</div>
    <div class="col-3 col-lg-2"></div>
</div>
<div
#scrollMe
style="overflow-y: auto; overflow-x: hidden; border-bottom: 1px solid white; max-height: 300px;"
[scrollTop]="scrolltop">
    <div class="row mb-2 mt-3"
    #scrollMe
        style="overflow-y: auto; overflow-x: none; border-bottom: 1px solid white; max-height: 200px;"
        [scrollTop]="scrolltop"
        *ngFor="let message of messages"
        >
        <div class="col-3 col-lg-2 mb-2"><app-user-card [user]="message.senderName"></app-user-card></div>
        <div class="col-3 col-lg-2"><a routerLink='/uzytkownicy/{{message.senderName}}'>{{message.senderName}}</a></div>
        <div class="col-6 col-lg-2">{{message.senderEmail}}</div>
        <div class="col-3" id="subject">Temat: </div>
        <div class="col-7 col-lg-2">{{getSubject(message.subject)}}</div>
        <div class="col-3 mb-3" id="content">Treść: </div>
        <div class="col-6 col-lg-2 mb-3" id="messageContent">{{message.message}}</div>
        <div class="col-3 col-lg-2"><button class="button btn btn-danger" (click)="removeMessage(message.id)"><i class="fa fa-trash" aria-hidden="true"> Usuń</i></button></div>
    </div>
</div>

<div class="row"> </div>
<br>
<div class="row">
    <div class="col-12 col-lg-6 mb-3">
        <h3>Dodaj dział</h3>
        <form [formGroup]='divisionForm' (ngSubmit)="divisionForm.valid && addDivision()" class="text-center column">
            <div class="mt-2">
                <input type="radio" id="false" name="isCloseDivision" value=0 class="mr-1" formControlName="isCloseDivision" checked>
                <label for="0" class="mr-2">Otwarty</label>
                <input type="radio" id="true" name="isCloseDivision" value=1 formControlName="isCloseDivision" class="mr-1">
                <label for="1" class="mr-2">+18</label>
            </div>
            <div>
                <input type="text" [formControl]='divisionForm.controls["name"]' placeholder="Wpisz nazwę działu" class="col-7" />
                <button class="btn btn-success ml-2 col-3" type="submit" [disabled]="!divisionForm.valid">Dodaj dział</button>
            </div>
            <div *ngIf="divisionForm.controls['name'].errors?.maxlength" class="text-danger">
                Komentarz zbyt długi
            </div>
        </form>
    </div>
    <div class="col-12 col-lg-6 mb-3">
        <h3>Obecne działy</h3>
        <div *ngFor="let division of divisions">
            {{division.name}} <span class="ml-2 mr-2">|</span> <span *ngIf="division.isCloseDivision === true" style="color: red;">Zamknięty</span><span *ngIf="division.isCloseDivision !== true" style="color: rgb(28, 206, 28);">Otwarty</span><i class="fa fa-trash ml-3" (click)="removeDivision(division.id)"> Usuń</i>
        </div>
    </div>
</div>

<div class="row"></div>
<br>
<div class="row mb-3" style="border-top: 1px solid white;">
    <div class="col-12 col-lg-6 mb-3">
        <h3 class="mb-3 mt-3">Dodaj ogłoszenie</h3>
        <form [formGroup]='announcementForm' (ngSubmit)="announcementForm.valid && addAnnouncement()" class="text-center column">
            <div>
                <textarea type="text" [formControl]='announcementForm.controls["content"]' placeholder="Wpisz treść ogłoszenia" class="col-7"></textarea>
                <button class="btn btn-success ml-2 col-3" id="addAnnoun" type="submit" [disabled]="!announcementForm.valid">Dodaj ogłoszenie</button>
            </div>
            <div *ngIf="announcementForm.controls['content'].errors?.maxlength" class="text-danger">
                Ogłoszenie zbyt długie
            </div>
        </form>
    </div>
</div>

<div class="card" *ngFor="let announ of announcement">
    <div style="border: 1px solid white; padding: 5px;" class="text-right mt-2">
        <i class="fa fa-times text-right" (click)="removeAnnouncement(announ.id)"></i>
        <div class="text-center mb-4">{{announ.content}}</div>
    </div>
</div>

