table {
    background-color: rgb(83, 83, 83);
    word-wrap:break-word !important;
    border-top: none !important;
}

img {
    max-height: 50px;
}

#reply {
    background-color: rgb(83, 83, 83);
    margin-left: 150px;
    border-radius: 8px;
    border: none !important;
}

@media screen and (max-width: 700px) {

    #reply {
        width: 100%;
        margin-left: 80px;
    }
}

i {
    cursor: pointer;
}

i:hover {
    color: red;
}

#like {
    background-color: black !important;
}

#quote {
    background-color: rgb(34, 31, 31);
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
    width: 200px !important;
}

i {
    padding-top: 7px;
}

.fa-paperclip {
    border: 1px solid white;
    background-color: orange;
    font-size: 20px;
    border-radius: 8px;
    min-width: 50px;
    min-height: 40px;
    cursor: pointer;
}

input[type="file"] {
    display: none;
    margin-left: -50px !important;
}

textarea {
    margin-bottom: -20px;
    background-color: gray;
    color: whitesmoke;
}

::placeholder {
    color: whitesmoke;
}

#image img {
    min-height: 150px;
    max-height: 150px;
    margin-bottom: 10px;
}

#edit, #delete {
    font-size: 12px;
}

#edit:hover {
    color: rgb(12, 179, 12) !important;
}

#editForm {
    margin-left: 100px;
}

#content {
    margin-top: 20px !important;
    margin-bottom: 10px !important;
    word-wrap:break-word !important;
}

#timeago {
    color: gray;
}

@media screen and (max-width: 700px) {

    .btn {
        max-height: 40px;
        font-size: 10px;
    }

    button {
        margin-top: -5px;
    }

    #reply {
        font-size: 12px;
    }

    #editForm {
        margin-left: 50px;
    }

    #content {
        margin-top: -30px;
    }

    #timeago {
        font-size: 10px;
    }

    #freespace {
        width: 15% !important;
    }

    #buttons {
        width: 30% !important;
    }
}