<div class="text-center mt-3 ml-2">
 
    <div class="text-center">

        <h3 class="mb-5">Zmiana avatara</h3>

        <img ngf-thumbnail="'user.photoUrl'">
        <img id="preview" [src]="user.photoUrl" *ngIf="!previewImg"/>
        <img id="preview" [src]="previewImg || 'user.photoUrl'" *ngIf="previewImg"/>

        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-2">
                <div ng2FileDrop
                [ngClass]="{'nv-file-over': hasBaseDropzoneOver}"
                (fileOver)="fileOverBase($event)"
                [uploader]="uploader"
                id="drag"
                class="card bg-faded p-3 mb-3 my-drop-zone"
                style="max-width: 200px;"
                >
                <i class="fa fa-upload fa-3x"></i>
               Upuść zdjęcie tutaj
                </div>
            </div>
            <div class="col-md-5"></div>
        </div>

        <label class="custom-file-upload ml-3" style="max-width: 200px;">
            <input type="file" ng2FileSelect [uploader]="uploader" class="text-center col-4 mt-3 mb-3" title="Wybierz"/>
            <i class="fa fa-photo mr-2"></i>Zmień zdjęcie
        </label>
    </div>

    <div class="text-center" style="margin-bottom: 40px" *ngIf="uploader?.queue?.length">

        <img ngf-thumbnail="file" ngf-size="{width: 100, height: 100, quality: 0.5}"/>

        <button type="button" class="btn btn-success btn-s"
                (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
            <span class="fa fa-upload"></span> Wrzucaj
        </button>

    </div>

</div>