<div class='row'>
    <div class='col-10 col-lg-4 text-center' *ngFor='let meme of memes'>
        <a routerLink="../memes/{{meme.id}}/{{convertText(meme?.title) || convertText('Jakieś gówno')}}">
            <h4 class="card-title text-center mb-4 mt-3"> 
                {{meme.title || 'Jakieś gówno'}}
            </h4>
            </a>
        <div *ngIf="meme?.url?.includes('youtube')">
            <iframe width="250" height="200" [src]="formatYoutubeLink(meme?.url) | safe"></iframe>
        </div>
        <img src="{{meme.url ? meme.url : onErrorFunction()}}" class="card-img-top col-sm-6" onError="this.src='https://memegenerator.net/img/images/14687350.jpg'" *ngIf="checkURL(meme.url)" style="max-width: 400px;"/>

        <video src="{{meme.url}}" class="card-img-top" *ngIf="!checkURL(meme?.url) && !meme?.url?.includes('https://www.youtube')" style="max-width: 400px;" controls></video>
        <h4>{{meme.username}}</h4>
        <div class='text-center mb-5'>
            <button class='btn btn-sm btn-success mr-1' (click)='approveMeme(meme.id)'>Approve</button>
            <button class='btn btn-sm btn-success mr-1' (click)='pushMemeToMain(meme.id)'>Główna</button>
            <button class='btn btn-sm btn-danger' (click)="openDeleteModal(meme.id)" [attr.data-target]="'#'+meme.id">Usuń</button>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
    <pagination 
        [boundaryLinks]="true" 
        [totalItems]="pagination.totalItems"
        [itemsPerPage]="pagination.itemsPerPage"
        [(ngModel)]="pagination.currentPage"
        (pageChanged)="pageChanged($event)"
        style="bottom: 0;"
        previousText="&lsaquo;" 
        nextText="&rsaquo;" 
        firstText="&laquo;" 
        lastText="&raquo;">
</pagination>
</div>
