<div class='row text'>
    <div class='col-10 col-lg-4 text-center' id="memeCard" *ngFor='let meme of memes'>
        <app-meme-for-approval-card [meme]="meme"></app-meme-for-approval-card>
    </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
    <pagination 
        [boundaryLinks]="true" 
        [totalItems]="pagination.totalItems"
        [itemsPerPage]="pagination.itemsPerPage"
        [(ngModel)]="pagination.currentPage"
        (pageChanged)="pageChanged($event)"
        style="bottom: 0;"
        previousText="&lsaquo;" 
        nextText="&rsaquo;" 
        firstText="&laquo;" 
        lastText="&raquo;">
</pagination>
</div>
