<div class="text-center">
    <div class="card mb-4 text-center mt-5">
        <div class="card-img-wrapper">
            <div class="card-body p-1" style="text-align: center;">
                <div class="row">
                    <div class="col-12 text-center">
                        <a routerLink="/meme/{{meme.id}}/{{ convertText(meme.title) || convertText('Jakieś gówno')}}">
                            <h4 class="card-title text-center mb-4 mt-3"> 
                                {{meme.title || 'Jakieś gówno'}}
                            </h4>
                            </a>
                            <i class="fa fa-comment" aria-hidden="true"></i> {{comments}}
                            <p>{{meme.uploaded | timeago}}</p>
                            <span *ngIf="meme.description?.length > 0">
                                <br>         
                                <div id="description" class="text-center" style="padding-top: 10px; padding-bottom: 5px;">
                                    <p>{{meme.description}}</p>
                                </div>
                                <br>
                            </span>
                            <div *ngIf="meme?.url?.includes('youtube')">
                                <iframe width="600" height="400" [src]="trustedUrl | safe"></iframe>
                            </div>
                            <a routerLink="/meme/{{meme.id}}/{{ convertText(meme?.title) || convertText('Jakieś gówno')}}">
                                <img src="{{addImageWatermark(meme.url) ? addImageWatermark(meme.url) : onErrorFunction()}}" class="card-img-top col-sm-6" onError="this.src='https://memegenerator.net/img/images/14687350.jpg'" *ngIf="checkURL(meme.url)"/>
                            </a>
                            <video src="{{meme.url}}" class="card-img-top" *ngIf="!checkURL(meme?.url) && !meme?.url?.includes('https://www.youtube')" controls></video>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <span class="text-center" id="container">
                    <span class="inline-block">
                        autor: <a class="nav-link" routerLink='/uzytkownicy/{{meme.username}}' style="color: greenyellow !important">{{meme.username}}</a>
                    </span>
                </span>
                <span *appHasRole='["Admin", "Moderator"]' class="mr-2">
                    <span [ngStyle]="division?.isCloseDivision ? { 'color': 'red' } : { 'color': 'yellow' }" (click)="openDivisionModal(meme)" style="cursor: pointer;">{{division?.name}}</span>
                    <span *ngIf="division === null" (click)="openDivisionModal(meme)" style="cursor: pointer;">Poczekalnia</span>
                </span>
                <button class="btn btn-success mr-2" (click)="addFavourite(meme.id)" [ngStyle]="!favourite ? { 'color': 'white' } : { 'color': 'red', 'background-color': 'yellow' }"><i class="fa fa-thumb-tack" aria-hidden="true"></i></button>
                <button (click)="addLike(meme)" [disabled]="disliked" class="btn btn-success mr-2" [ngStyle]="!liked ? { 'color': 'white' } : { 'color': 'red', 'background-color': 'yellow' }"><i class="fa fa-thumbs-up"></i></button>
                <span class="btn btn-primary mr-2" id="likes" style="min-width: 100px;">{{meme.numberOfLikes}}</span>
                <button (click)="addDislike(meme)" [disabled]="liked" class="btn btn-danger" [ngStyle]="!disliked ? { 'color': 'white' } : { 'color': 'red', 'background-color': 'yellow' }"><i class="fa fa-thumbs-down"></i></button>
                <button class="btn btn-warning ml-2" (click)="flagAsSpam(meme.id)"><i class="fa fa-flag" aria-hidden="true"></i></button>
                <button *appHasRole='["Admin", "Moderator"]' class="btn btn-danger ml-1" (click)='rejectMeme(meme.id)'><i class="fa fa-trash"></i> Usuń</button>
            </div>
            <div class="mb-2">
                <button class="btn btn-info ml-2" *ngIf="meme.isMain"><i class="fa fa-share mr-2"></i>Share</button>
            </div>
        </div>
    </div>
</div>