img {
    max-width: 600px !important;
}

@media screen and (min-width: 2400px) {
    img {
        max-width: 1200px !important;
    }

    #description {
        max-width: 1200px !important;
    }

    video {
        max-width: 1200px !important;
    }

    #timeago {
        margin-left: -200px !important;
        font-size: 24px !important;
    }

    .card {
        font-size: 24px !important;
    }

    .card-title {
        font-size: 30px !important;
    }
}

video {
    max-width: 600px !important;
}

a {
    color: white !important;
}

a:hover {
    text-decoration: none !important;
}

.btn {
    max-height: 50px !important;
}

@media screen and (min-width: 1000px) {
    #timeago {
        margin-left: -20px !important;
    }
}

@media screen and (max-width: 700px) {

    iframe {
        max-width: 480px !important;
        margin-left: -4px !important;
    }
}

#division {
    padding: 10px;
    border: 1px solid white;
}

#division:hover {
    color: red;
    border: 1px solid yellow;
}

#description {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(32, 31, 31);
} 

.card-title:hover {
    color: red;
    text-decoration: none !important;
}

#ok {
    max-height: 20px !important;
    max-width: 15px !important;
}

#likes {
    background-color: rgb(10, 92, 130) !important;
}

#likes:hover {
    cursor: default;
    background-color: rgb(10, 92, 130);
    transition: none !important;
    transform: none !important;
}

@media screen and (max-width: 600px) {

    iframe {
        max-width: 380px !important;
        margin-left: -4px !important;
    }

    .card {
        width: 100%;
    }
}

.example img {
    width: 100%;
    position: relative;
  }
  
  .example .overlay {
    position: absolute;
    bottom: 0;
    right: 280px;
  }

  .overlay img {
    opacity: 0.7;
    width: 100px;
    height: 40px;
  }

  @media screen and (max-width: 800px) {
    .example .overlay {
        right: 30px;
      }
  }

  h4 {
    font-weight: 500;
    letter-spacing: 0.5px;
  }

  @media screen and (max-width: 1000px) {
    h4 {
        font-size: 17px !important;
    }

    #commentNumber {
        font-size: 12px !important;
    }
  }

  .mask1 {
    -webkit-mask-image: url(https://res.cloudinary.com/duj1ftjtp/image/upload/v1659042057/logo_gimp_-_new_ucilaf.png);
    mask-image: url(https://res.cloudinary.com/duj1ftjtp/image/upload/v1659042057/logo_gimp_-_new_ucilaf.png);
    -webkit-mask-size: 70%;
    mask-size: 70%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;    
  }