img {
    min-width: 700px;
}

a {
    color: white !important;
}

a:hover {
    text-decoration: none !important;
}

@media screen and (max-width: 700px) {

    img {
        min-width: 500px !important;
    }

    iframe {
        max-width: 480px !important;
    }
}

#description {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(32, 31, 31);
} 

.card-title:hover {
    color: red;
    text-decoration: none !important;
}

#ok {
    max-height: 20px !important;
    max-width: 15px !important;
}

#likes {
    background-color: rgb(10, 92, 130) !important;
}

#likes:hover {
    cursor: default;
    background-color: rgb(10, 92, 130);
    transition: none !important;
    transform: none !important;
}