<div class="card mb-4">
    <div class="card-img-wrapper">
        <div class="card-body p-1">
            <h6 class="card-title text-center mb-1">
                {{member.username}}, {{member.age}}
            </h6>
                <!-- <img src="{{meme.url || './assets/user.png'}}" alt="{{member.username}}" class="card-img-top"> -->
        <!-- <a [routerLink]="['/members/{{meme.url}}']"> -->
            <img src="https://cdn.vox-cdn.com/thumbor/cV8X8BZ-aGs8pv3D-sCMr5fQZyI=/1400x1400/filters:format(png)/cdn.vox-cdn.com/uploads/chorus_asset/file/19933026/image.png"
                class="card-img-top" >
        <!-- </a> -->
        <!-- <li class="list-inline-item"><button (click)="addLike(meme)" class="btn btn-primary">
            <i class="fa fa-heart"></i></button></li> -->
        </div>

    </div>

</div>